<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">

<xsl:variable name="network_info">
<xsl:copy-of select="$network_model" />
<xsl:copy-of select="$network_methods" />
</xsl:variable>

<xsl:variable name="network_model"><![CDATA[
Description:
  A network in inventory]]>
<xsl:copy-of select="$network_model_properties" />
</xsl:variable>

<xsl:variable name="network_model_properties"><![CDATA[@@FIELDS@@]]>
</xsl:variable>

<xsl:variable name="network_methods"><![CDATA[@@METHODS@@]]>
</xsl:variable>

</xsl:stylesheet>
