/* BASIC STYLES */
html {
	background:#6D7CAD;
}
body {
	background-color:#6D7CAD; color:#333;
	margin:0px; padding:1.1em 0em 1.1em 0em;
	font-family:Verdana,Arial,Helvetica,sans-serif;
}
table {
	font-size:100%;
	width:100%;
}
td, th {
	vertical-align:top;
	text-align:left;
}
th {
	white-space:nowrap;
}
h1, h2, h3, h4, h5, h6 {
	margin:0px; padding:0.5em 0em 0.5em 0em;
}
h2 {
	font-size:120%;
	font-weight:bold;
}
h3 {
	font-size:110%;
	font-weight:bold; padding-top:0.75em;
}
h4 {
	font-size:110%;
	font-weight:normal;
}
p {
	margin:0px; padding:0em 0em 1em 0em;
}
ul {
	margin:0px; padding:0em 0em 0.5em 0em;
	list-style-type:none;
}
ul li {
	padding:0em 0em 0.5em 0.75em;
	background:url(../images/LI.gif) 0em 0.45em no-repeat;
}
a:link, a:visited, a:hover, a:active {
	color:#3D5192; padding-right:11px; text-decoration:none;
	background:url(../images/A.gif) no-repeat right 60%;
}
a:hover {
	text-decoration:underline;
}
form {
	margin:0px; padding:0px;
}
button {
	margin:0px; padding:0px 0px 0px 13px; border-width:0px;
	background:transparent url(../images/BUTTON.gif) no-repeat left 50%;
	font-weight:bold; color:#0C2577; font-size:100%;
	text-transform:uppercase;
}
button:hover {
	text-decoration:underline;
	cursor:pointer;
}
button.warn {
	background:transparent url(../images/BUTTON_warn.gif) no-repeat left 50%;
	color:#770000;
}
input, textarea {
	font-size:100%; color:#333;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	border-width:1px;
	margin:2px 0px 0px 0px;
        background-color: #eceff9;
}
.disabledInput {
    color: gray;
}
label {
	font-size:100%;
	color:#666;
}
select {
	font-size:100%; color:#333;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	margin:2px 0px 0px 0px;
}
