.side {
    font-size: 10pt;
}

/* SIDE COLUMN CONTENT STYLES */
#browse h3 {
	background: #3D5192;
        border-color: #607fe6 #202a4c #202a4c #607fe6;
        border-width: 2px;
        cursor:pointer;
}
#browse li {
	background-image:none; padding:4px 0px 4px 0px;
}

#project h3 {
	background:#5D71b2;
        border-color: #7e9af2 #3c4973 #3c4973 #7e9af2;
        border-width: 2px;

}
#project li {
	background-image:none; padding:4px 0px 4px 0px;
}

#search h3 {
	background: #FF930B;
        border-color: #ffc780 #bf6e08 #bf6e08 #ffc780;
	cursor:pointer;
        border-width: 2px;
}

#releases h3 {
	background:#5D71b2;
        border-color: #7e9af2 #3c4973 #3c4973 #7e9af2;
	cursor:pointer;
        border-width: 2px;
}
#releases li {
	background-image:none; padding:4px 0px 4px 0px;
}

#commits h3 {
	background:#5D71b2;
        border-color: #7e9af2 #3c4973 #3c4973 #7e9af2;
	cursor:pointer;
        border-width: 2px;
}
#commits li {
	background-image:none; padding:4px 0px 4px 0px;
}

#products h3 {     background-color: green !important;
        border-color: #080 !important;
}
#products li {
	background-image:none; padding:4px 0px 4px 0px;
        color: #666;
        border-width: 2px;
}


/* RECENT RELEASES STYLES */
div.releases_project {
}
a.releases_project {
        font-weight: bold;
}
div.releases_release {
        padding: 0px 0px 0px 18px;
}

/* PLAIN COLUMN CONTENT STYLES */
.date {
	font-size:0.9091em; color:#99660A; font-weight:normal;
}

.help {
	color:#666; font-size:100%; font-style:italic;
}

/* MAIN AREA FORM TABLE LAYOUT, HEADERS ON LEFT SIDE */
.mainformhorizontal {
	padding:11px; margin-bottom:8px; border:1px #ccc solid;
}
.mainformhorizontal th {
	font-weight:normal; color:#666;
	padding-right:12px; padding-bottom:8px;
}
.mainformhorizontal td {
	vertical-align:top; padding-bottom:8px;
}
.mainformhorizontal input,
.mainformhorizontal textarea {
	width:70%; margin-top:0px; padding-top:0px;
	background-color:#eee;
}
.mainformhorizontal input.check,
.mainformhorizontal input.notwide,
.mainformhorizontal input.radio {
	width:auto;
}
.mainformhorizontal select {
	width: 100%;
}
.mainformhorizontal div.help,
.mainformhorizontal p.help {
	position:relative; width:70%;
}
.required {
	padding-left:0.7em; color:#c00; font-style:italic;
	background:url(../images/required.gif) no-repeat 0.2em 0.45em;
}
.requiredselect {
	padding-left:0.9em;
	background:url(../images/required.gif) no-repeat 0.2em 0.45em;
}
th .required {
	padding-left:0.5em; color:#c00; font-style:italic;
	background:url(../images/required.gif) no-repeat 0em 0.45em;
}

.noborder, .lockicon {
        border: 0;
}

/* SEARCH RESULTS TABLE LAYOUT */
.results {
	padding:0px 0px 4px 0px; margin:8px 0px 8px 0px;
	border-bottom:1px #ccc solid; border-top:1px #ccc solid;
}

.results th {
	font-weight:normal; color:#999;
	border-bottom:1px #999 solid;
	padding:6px 12px 6px 0px;
}

.results td {
	vertical-align:top; padding:6px 12px 6px 0px;
	border-top:1px #e6e6e6 solid;
}

.results tbody tr.key-ids {
        font-family: "times", monospace;
}

.results tbody tr:first-child td {
        border-top: 0;
}

strong.keyword {
	color:#FF7C04;
}

table.pager {
        border: 0px;
        padding: 0px;
        margin: 0px 0px 1em 0px;
}

.pager td {
	vertical-align:middle;
}
.pager a {
	background-image:none;
	padding-right:0px;
}
.pager button {
	background-image:none;
	padding-left:0px;
}

/* REPOSITORY BROWSER */
.troveinfo {
	padding:0px 0px 4px 0px; margin:8px 0px 8px 0px;
	border-bottom:1px #ccc solid; border-top:1px #ccc solid;
        width: 100%;
}
.troveinfo th {
	font-weight:normal; color:#999;
	border-top:1px #e6e6e6 solid;
	padding:6px 12px 6px 0px;
        width: 15%;
}
.troveinfo td {
	font-weight:normal;
	vertical-align:top; padding:6px 12px 6px 0px;
	border-top:1px #e6e6e6 solid;
        width: 85%;
}

.troveflavor {
        border-style: none;
}
.troveflavor td.col1 {
        text-align: left;
        border-style: none;
}
.troveflavor td.col2 {
        text-align: right;
        border-style: none;
}
.troveallversions {
	font-weight:normal;
	line-height:180%;
}
.filelist {
	position:relative;
	overflow:auto;
}
.trovelist {
	margin-left:8px;
	margin-top:8px;
	margin-bottom:0px;
	padding-bottom:0;
	line-height:160%;
}
.trovelist li {
	background:none;
}
a.trove {
	background:none;
	position:relative;
	bottom:-2px;
	padding:3px 15px 4px 4px;
}

/* MEMBERS LIST TABLE */
table.memberstable {
	padding:0px; margin:0px; margin-bottom:8px; width:auto;
}
.memberstable th {
	font-weight:normal; color:#333; white-space:normal;
	padding:0em 0em 0.5em 0.5em; margin:0em;
}
.memberstable td {
	padding:0em 0em 0.5em 0.5em; margin:0em;
}
a.option {
	border:1px #ccc solid; background-image:none;
	display:block; padding:0.1em 0.25em; margin:-2px 0px 0px 0px;
	font-size:0.9091em; text-transform:uppercase; font-weight:bold;
}
a.option:hover {
	background-color:#ccc; background-image:none;
	text-decoration:none;
}

.mailingListButtons ul li {
    display: inline
}

.mailingListButtons ul li a.option {
    display: inline;
    white-space: nowrap;
    border:1px #ccc solid; background-image:none;
    padding:0.1em 0.25em; margin:-2px 0px 0px 0px;
    font-size:0.9091em; text-transform:uppercase; font-weight:bold;
}
.mailingListButtons ul li a.option:hover {
    background-color:#ccc; background-image:none;
    text-decoration:none;
}

/* RELEASES TABLE */
table.releasestable {
        padding:0px; margin:0px; margin-bottom:8px; width:100%;
}

.releasestable th {
        font-weight:bold; color:#333; white-space:normal;
        padding:1em 2em 0.5em 0.0em; margin:0em 0em 0em 0em;
}
.releasestable td {
        font-weight:normal;
        vertical-align:top; padding:6px 12px 6px 0px;
        border-top:1px #e6e6e6 solid;
}

.releasestable td.relname {
        width: 100%;
}

table.releasestable {
        padding:0px; margin:0px; margin-bottom:8px; width:100%;
}

.releasestable th {
        font-weight:bold; color:#333; white-space:normal;
        padding:1em 2em 0.5em 0.0em; margin:0em 0em 0em 0em;
}
.releasestable td {
        font-weight:normal;
        vertical-align:top; padding:6px 12px 6px 0px;
        border-top:1px #e6e6e6 solid;
}

.releasestable td.relname {
        width: 100%;
}
