/* COLUMN STYLES */
.plain {
	font-size:0.6967em;
}
.plain h2, .plain h3, .plain h4 {
	color:#000;
}
.plain button {
	font-size:0.9091em;
}
.plain .palette button {
	font-size:1em;
}

.side {
	font-size:0.6333em;
}

.projects {
	color:#666; font-size:0.6967em;
	background:url(../images/projects_border.gif) repeat-y;
}
.projects h2, .projects h3, .projects h4 {
	color:#FF7001;
}
.projects ul li {
	padding:0em 0em 0.75em 0.75em;
}

/* SIDE COLUMN CONTENT STYLES */
.palette {
	border-bottom:1px #ddd solid;
	margin-bottom:12px;
}
.plain .palette {
	font-size:0.9091em;
}
.palette h3 {
	color:#fff; background-color:#999;
	border:1px #909090 solid; padding:4px 11px 6px 11px;
}
div.palette h3 img {
        float: right;
}
.palette ul {
	border:1px #dadada solid;
	background-color:#e6e6e6; border-width:0px 1px 0px 1px;
	padding:0px 0px 4px 0px; font-size:110%;
}
.palette li {
	border-top:1px #dadada solid; background-position:0 0.85em;
	padding:4px 0px 4px 11px; margin:0px 11px 0px 11px;
}
.palette ul li:first-child {
	border:0px;
}
.palette form {
	border:1px #dadada solid; border-width:0px 1px 0px 1px;
	background-color:#e6e6e6; padding:10px 11px 0px 11px;
}
.palette form p {
	padding-bottom:0.8em; margin-bottom:0px;
}
.palette input, .palette select {
	width:95%;
}

#browse h3 {
	background: #3D5192; 
        border-color: #607fe6 #202a4c #202a4c #607fe6;
        border-width: 2px;
        cursor:pointer;
}
#browse li {
	background-image:none; padding:4px 0px 4px 0px;
}

#project h3 {
	background:#5D71b2;
        border-color: #7e9af2 #3c4973 #3c4973 #7e9af2;
        border-width: 2px;

}
#project li {
	background-image:none; padding:4px 0px 4px 0px;
}

#search h3 {
	background: #FF930B;
        border-color: #ffc780 #bf6e08 #bf6e08 #ffc780;
	cursor:pointer;
        border-width: 2px;
}

#releases h3 {
	background:#5D71b2;
        border-color: #7e9af2 #3c4973 #3c4973 #7e9af2;
	cursor:pointer;
        border-width: 2px;
}
#releases li {
	background-image:none; padding:4px 0px 4px 0px;
}

#commits h3 {
	background:#5D71b2;
        border-color: #7e9af2 #3c4973 #3c4973 #7e9af2;
	cursor:pointer;
        border-width: 2px;
}
#commits li {
	background-image:none; padding:4px 0px 4px 0px;
}

#addmember h3 {
	background:#5DB285;
        border-color: #78e6ab #3c7356 #3c7356 #78e6ab;
	cursor:pointer;
        border-width: 2px;
}
#addmember li {
	background-image:none; padding:4px 0px 4px 0px;
}
#products h3 {     background-color: green !important;
        border-color: #080 !important;
}
#products li {
	background-image:none; padding:4px 0px 4px 0px;
        color: #666;
        border-width: 2px;
}

/* RECENT RELEASES STYLES */
div.releases_project {
}
a.releases_project {
        font-weight: bold;
}
div.releases_release {
        padding: 0px 0px 0px 18px;
}

/* PLAIN COLUMN CONTENT STYLES */
.date {
	font-size:0.9091em; color:#99660A; font-weight:normal;
}
.edit {
	font-size:0.9091em; font-weight:normal; padding-left:13px;
	background:url(../images/A.gif) no-repeat left 60%;
}
.edit a:link, .edit a:active, .edit a:visited, .edit a:hover {
	background-image:none;
	padding-left:0px;
}
.help {
	color:#666; font-size:100%; font-style:italic;
}

/* MAIN AREA FORM TABLE LAYOUT, HEADERS ON LEFT SIDE */
.mainformhorizontal {
	padding:11px; margin-bottom:8px; border:1px #ccc solid;
}
.mainformhorizontal th {
	font-weight:normal; color:#666;
	padding-right:12px; padding-bottom:8px;
}
.mainformhorizontal td {
	vertical-align:top; padding-bottom:8px;
}
.mainformhorizontal input,
.mainformhorizontal textarea {
	width:70%; margin-top:0px; padding-top:0px;
	background-color:#eee;
}
.mainformhorizontal input.check,
.mainformhorizontal select,
.mainformhorizontal input.notwide,
.mainformhorizontal input.radio {
	width:auto;
}
.mainformhorizontal select.wide {
	width:70%;
}
.mainformhorizontal div.help,
.mainformhorizontal p.help {
	position:relative; width:70%;
}
.required {
	padding-left:0.7em; color:#c00; font-style:italic;
	background:url(../images/required.gif) no-repeat 0.2em 0.45em;
}
.requiredselect {
	padding-left:0.9em;
	background:url(../images/required.gif) no-repeat 0.2em 0.45em;
}
th .required {
	padding-left:0.5em; color:#c00; font-style:italic;
	background:url(../images/required.gif) no-repeat 0em 0.45em;
}

/* SEARCH RESULTS TABLE LAYOUT */
.results {
	padding:0px 0px 4px 0px; margin:8px 0px 8px 0px;
	border-bottom:1px #ccc solid; border-top:1px #ccc solid;
}
.results th {
	font-weight:normal; color:#999;
	border-bottom:1px #999 solid;
	padding:6px 12px 6px 0px;
}
.results td {
	vertical-align:top; padding:6px 12px 6px 0px;
	border-top:1px #e6e6e6 solid;
}

.results tbody tr.key-ids{
        font-family: "times", monospace;
}
strong.keyword {
	color:#FF7C04;
}

.pager td {
	vertical-align:middle;
}
.pager a {
	background-image:none;
	padding-right:0px;
}
.pager button {
	background-image:none;
	padding-left:0px;
}

/* REPOSITORY BROWSER */
.troveinfo {
	padding:0px 0px 4px 0px; margin:8px 0px 8px 0px;
	border-bottom:1px #ccc solid; border-top:1px #ccc solid;
        width: 100%;
}
.troveinfo th {
	font-weight:normal; color:#999;
	border-top:1px #e6e6e6 solid;
	padding:6px 12px 6px 0px;
        width: 15%;
}
.troveinfo td {
	font-weight:normal;
	vertical-align:top; padding:6px 12px 6px 0px;
	border-top:1px #e6e6e6 solid;
        width: 85%;
}

.troveflavor {
        border-style: none;
}
.troveflavor td.col1 {
        text-align: left;
        border-style: none;
}
.troveflavor td.col2 {
        text-align: right;
        border-style: none;
}
.troveallversions {
	font-weight:normal;
	line-height:180%;
}
.filelist {
	position:relative;
	overflow:auto;
}
.trovelist {
	margin-left:8px;
	margin-top:8px;
	margin-bottom:0px;
	padding-bottom:0;
	line-height:160%;
}
.trovelist li {
	background:none;
}
a.trove {
	background:none; 
	position:relative; 
	bottom:-2px;
	padding:3px 15px 4px 4px;
}

/* RELEASES LIST TABLE, MEMBERS LIST TABLE */
table.releasestable,
table.memberstable {
	padding:0px; margin:0px; margin-bottom:8px; width:auto;
}
.releasestable th,
.memberstable th {
	font-weight:normal; color:#333; white-space:normal;
	padding:0em 0em 0.5em 0.5em; margin:0em;
	background:url(../images/LI.gif) 0em 0.45em no-repeat;
}
.releasestable td,
.memberstable td {
	padding:0em 0em 0.5em 0.5em; margin:0em;
}
a.option {
	border:1px #ccc solid; background-image:none;
	display:block; padding:0.2em 0.4em; margin:0px;
	font-size:0.9091em; text-transform:uppercase; font-weight:bold;
}
a.option:hover {
	background-color:#ccc; background-image:none;
	text-decoration:none;
}

/* DARBY DIFF LOGS TABLE */

.diffs td {
	padding:4px;
	border-bottom:1px #e6e6e6 solid;
}
.diffs tr {
	vertical-align:top;
}
td.diffNavClass {
	white-space:nowrap;
}
.diffUnchangedLineNum {
	background-color:#E6E6E6;
}
.diffUnchangedContent {
	background:#EEEEEE;
}
.diffOldLineNum {
	background-color:#ffc;
	color:#c00;
}
.diffNewLineNum {
	background-color:#efe;
	color:#090; 
}
.diffOldEditedContent {
	background-color:#ffc;
}
.diffNewEditedContent {
	background-color:#efe;
}
.diffOldContents {
	color:#c00;
}
.diffNewContents {
	color:#090;
}
.diffOldChgContents {
	color:#c00;
}
.diffNewChgContents {
	color:#090;
}

/* DARBY HELP */

a.helpbutton {
	background:none; 
	position:relative; 
	bottom:-1px;
	padding:3px 15px 4px 3px;
}
