

/* SIDE COLUMN CONTENT STYLES */
#browse h3 {
	background: #3D5192;
    border-color: #607fe6 #202a4c #202a4c #607fe6;
    border-width: 2px;
    cursor:pointer;
}

#search h3 {
	background: #FF930B;
    border-color: #ffc780 #bf6e08 #bf6e08 #ffc780;
	cursor:pointer;
    border-width: 2px;
}

#releases h3 {
	background:#5D71b2;
    border-color: #7e9af2 #3c4973 #3c4973 #7e9af2;
	cursor:pointer;
    border-width: 2px;
}

#commits h3 {
	background:#5D71b2;
    border-color: #7e9af2 #3c4973 #3c4973 #7e9af2;
	cursor:pointer;
    border-width: 2px;
}

#products h3 {     
    background-color: green !important;
    border-color: #080 !important;
}

/* PLAIN COLUMN CONTENT STYLES */

.date {
	font-size:0.9091em; 
    color:#99660A; 
    font-weight:normal;
}

/* MAIN AREA FORM TABLE LAYOUT, HEADERS ON LEFT SIDE */
.mainformhorizontal {
	width: 100%;
}

.mainformhorizontal td {
	vertical-align:top; 
    padding-bottom:15px;
}

.singlerowhorizontal td {
	vertical-align:top; 
    padding-bottom:0px;
    padding-top:0px;
}

.mainformhorizontal td.fields-compact {
	vertical-align:top; 
    padding-bottom: 5px;
}

.singlerowhorizontal td label{
    padding-top: 4px;
    padding-right: 10px;
}

.mainformhorizontal td.form-label {
    padding-top:4px;
    padding-right: 10px;
}

.mainformhorizontal input,
.mainformhorizontal textarea,
.singlerowhorizontal input,
.singlerowhorizontal textarea {
	width:90%; 
    margin-top:0px; 
}

.mainformhorizontal .field-pwd {
    width: 200px;
}

.mainformhorizontal .field-numeric {
    width: 100px;
}

.mainformhorizontal input.check{
    margin-top: 4px;
}

.mainformhorizontal input.check,
.mainformhorizontal input.notwide,
.mainformhorizontal input.radio {
	width:auto;
}

.mainformhorizontal tr.attention {
    font-weight: bold;
    color: #404040;
    background: #fcca54;
    width:auto;
}

.mainformhorizontal select,
.singlerowhorizontal select {
	width: 90%;
}

.mainformhorizontal select.key-project-list {
    width:90%;
}

.mainformhorizontal div.help,
.mainformhorizontal p.help,
.singlerowhorizontal div.help,
.singlerowhorizontal p.help {
    margin: 0px;
    width:90%;
}

.mainformhorizontal table,
.singlerowhorizontal table {
    width: 100%;
}

a.pdusource-adder,
a.pdbuilddef-adder {
    text-decoration: none;
}

a:hover.pdusource-adder,
a:hover.pdbuilddef-adder {
    color: #e65a1d;
    text-decoration: underline;
}

a:hover.pdusource-deleter,
a:hover.pdbuilddef-expander,
a:hover.pdbuilddef-deleter {
    color: inherit;
    background-color: inherit;
    cursor: pointer;
}

a:hover

#pdbuilddef-empty,
#pdstages-empty {
    font-style: italic;
    color: #888;
}

.required {
	padding-left: 10px; 
    color:#c00; 
    font-style:italic;
	background:url(../images/required.gif) no-repeat 0px 4px;
}

.required-help {
    padding-left: 10px; 
    color: blue; 
    font-style:italic;
    text-decoration: underline;
    cursor: pointer;
    background:url(../images/required.gif) no-repeat 0px 4px;
}

.requiredselect {
	padding-left:0.9em;
	background:url(../images/required.gif) no-repeat 0px 4px;
}

.p-button {
    text-align: right;
    margin: 0px;
}

strong.keyword {
	color:#FF7C04;
}

.indent {
	margin-left: 1em;
}

.plainlist {
	list-style-type: none;
	padding-left: 0;
}

/* REPOSITORY BROWSER */
.troveinfo {
	padding:0px 0px 4px 0px; 
    margin:8px 0px 8px 0px;
	border-bottom:1px #ccc solid; 
    border-top:1px #ccc solid;
    width: 466px;
}
.troveinfo th {
	font-weight:normal; 
    color:#999;
	padding:6px 12px 6px 0px;
	width: 1%;
}
.troveinfo td {
	font-weight:normal;
	vertical-align:top; 
    padding:6px 12px 6px 0px;
	border-top:1px #e6e6e6 solid;
}

.nottroveinfo td {
    border-top-width: 0;
    padding: 0 0 0 0;
}

.troveflavor {
    border-style: none;
}
.troveflavor td.col1 {
    text-align: left;
    border-style: none;
}
.troveflavor td.col2 {
    text-align: right;
    border-style: none;
}
.troveallversions {
	font-weight:normal;
	line-height:180%;
}
.filelist {
	position:relative;
	overflow:auto;
}
.trovelist {
	margin-left:8px;
	margin-top:8px;
	margin-bottom:0px;
	padding-bottom:0;
	line-height:160%;
}
.trovelist li {
	background:none;
}
a.trove {
	background:none;
	position:relative;
	bottom:-2px;
	padding:3px 15px 4px 4px;
}

.expand {
	background:url(../images/expand_string.gif) no-repeat;
    padding-right: 18px;
    background-position: right;
    cursor: pointer;
} 

.collapse {
	background:url(../images/collapse_string.gif) no-repeat;
    padding-right: 18px;
    background-position: right;
    cursor: pointer;
} 

/* MEMBERS LIST TABLE */
table.memberstable {
	padding:0px; 
    margin:0px; 
    margin-bottom:8px; 
    width:auto;
}
.memberstable th {
	font-weight:normal; 
    color:#333; 
    white-space:normal;
	padding:0em 0em 0.5em 0.5em; 
    margin:0em;
}
.memberstable td {
	padding:0em 0em 0.5em 0.5em; 
    margin:0em;
}
a.option {
	white-space: nowrap;
	border:1px #ccc solid; 
    background-image:none;
    padding:0.1em 0.25em; 
    margin:0;
	font-size:0.9091em; 
    text-transform:uppercase; 
    font-weight:bold;
    text-decoration:none;
    position: relative;
    overflow: visible;
}
a.option:hover {
	background-color:#fff; 
    background-image:none;
	text-decoration:none;
    border:1px #e65a1d solid; 
    position: relative;
    overflow: visible;
}

.fileupload {
    height: 30px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 0px;
    display: block;
}

div.packageList
{
    width: 464px;
    height: 408px;
    border-width: 1px;
    border-color: #666;
    border-style: solid;
}

div.packageList_navigation
{
    float: left;
    height: 406px;
    width: 20px;
    font-size: 12px;
    font-family: verdana, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: #bbb;
    background-color: #ddd;
    text-align: center;
}

div.packageList_contents
{
    height: 408px !important;
    width: 442px !important;
    width: 438px; /* Hack for IE6's buggy width calculator */
    overflow: auto;
}

div#loading_wait.packageList_contents {
    width: 438px !important;
    width: 430px; /* hack for IE6's buggy width calculator */
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    overflow: visible;
}

div.packageList_submit {
    padding-top: 2em;
    padding-bottom: 2em;
}

table#packageList_table {
    width: 100% !important;
    width: 95%;
}

h3.packageList_section_header {
    margin: 0px;
    border-bottom: 1px solid #666;
}

.packageList_navigation_item strong {
    font-size: 8pt;
    color: #222;
}

.packageList_navigation_item {
    height: 15px;
    color: #888;
    font-size: 8pt;
    vertical-align: middle;
}

#packageList_navigation_link {
    text-decoration: none;
}

#packageList_navigation_link:hover {
    text-decoration: underline;
}

div#jumpto_box {
    width: 466px; /* Width of .packageList + border-width */
    height: 24px; 
}

div#jumpto_box span {
    float:right;
}

div#jumpto_box input#jumpto_box {
    height: 16px;
    font-size: 9pt;
    border: 1px solid #888;
    position: relative;
    left: 16px;
    z-index: 1;
}

div#jumpto_box input#jumpto_box_clear {
    border: none;
    height: 16px;
    position: relative;
    top: 4px;
    right: 2px;
    z-index: 3;
}

div#filter_selections {
    width: 462px; /* Width of .packageList + packageList border-width - padding */
    padding: 2px;
    overflow: hidden;
}

div#filter_navigation_link {
    display:inline;
    float:left;
    height: 16px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 3px;
    margin-top: 3px;
    background-color: #ccccee;
    border: 1px solid #ddddff;
    line-height: 20px;
    cursor: pointer;
    white-space: nowrap;
}

div#filter_navigation_link:hover {
    background-color: #aaaadd;
    border: 1px solid #333;
}

.selected {
    background-color: #333333;
    color: #f0f0f0;
}
    
.table-image-components td {
    padding: 0px;
    margin: 0px;
}

.table-image-components td.label-offset {
    padding-left: 4px;
    padding-top: 4px;
    white-space: nowrap;
}

.table-image-components td.label-offset-wide {
    padding-left: 4px;
    padding-top: 4px;
    width: 100%;
}
