div.helpPage#layout h2{
    font-size: 120%;
}

div.helpBlock {
    border: 2px solid #eeeeee;
    background: #efefef;
    padding: 0.5em;
}

pre.cmd {
    background: #efefef;
    border: 1px dashed #000066;
    padding: 6px;
    margin-left: 2em;
}

div.helpBlock pre {
    margin-left: 2em;
}
