/* BASIC STYLES */
html {
    background: url(../images/body_bg.png) repeat;
}

body {
    font-family: verdana, sans-serif;
    font-size: 11px;
    color: #000;
    margin: 0px;
    padding: 0px;
    background-image: url(../images/body_bg.png);
    background-repeat: repeat;
    height: 100%;
}

.gray { color: #aaa; }
.dark-gray { color: #666; }
.dark-blue { color: #293d82; }
.orange { color: #e65a1d; }

h1 {
    font-size: 14px;
    font-family: verdana, sans-serif;
    font-weight: bold;
    color: #e65a1d;
    padding-top: 16px;
    margin: 0px 0px 0px 0px;
}

h1.primary {
    font-size: 21px;
    font-family: verdana, sans-serif;
    font-weight: bold;
    color: #e65a1d;
    padding-top: 16px;
    margin: 0px 0px 18px 0px;
}

h1.search {
    font-size: 21px;
    font-family: verdana, sans-serif;
    font-weight: bold;
    color: #e65a1d;
    padding-top: 16px;
    margin: 0px 0px 10px 0px;
}

h2 {
    font-size: 16px;
    font-family: verdana, sans-serif;
    font-weight: normal;
    color: #000;
    margin: 13px 0px 10px 0px;
    border-bottom: 1px solid #ddd;
    width: 98%;
}

div#admin-spanright h2 {
    font-size: 16px;
    font-family: verdana, sans-serif;
    font-weight: normal;
    color: #000;
    margin: 13px 0px 10px 0px;
    border-bottom: 1px solid #a1b6d6;
    width: 100%;
}

h3 {
    color:#000000;
    font-size:20px;
    font-weight:normal;
}

h4 {
    font-size: 11px;
    font-weight: bold;
}

p {
    padding: 4px 0px 2px 0px;
}

br.clear {
    margin: 0px;
    padding: 0px;
    clear: both;
}

div.clearleft {
    clear: left;
    margin: 0;
    padding: 0;
}

div.bottom {
    padding: 0px;
    margin: 0px;
    clear: both;
    height: 0px;
}

input, textarea, select {
    font-family: verdana, sans-serif;
    font-size: 11px;
}

iframe input {
    font-family: verdana, sans-serif;
    font-size: 11px;
}

a,
a:visited,
a:active {
    color: #000;
}
a:hover {
	color: #e65a1d;
	text-decoration: underline;
}

a.noline,
a.noline:visited,
a.noline:active {
     color: #000;
    text-decoration: none;
}
a.noline:hover {
    color: #e65a1d;
    text-decoration: underline;
}


input.auto,
select.auto {
    width: auto;
}


.boxHeader a,
.boxHeader a:visited,
.boxHeader a:active,
.boxHeader a:hover,
label a,
label a:visited,
label a:active,
label a:hover {
    color: #000;
    background-color: transparent;
    text-decoration: none;
}

.pageBoxHeader {
    font-size: 15px;
    font-family: verdana, sans-serif;
    font-weight: bold;
    color: #293d82;
    padding: 7px 10px 0px 10px;
}

.pageBoxLinks {
    font-size: 11px;
    font-family: verdana, sans-serif;
    font-weight: normal;
    padding: 6px 10px 10px 10px;
    color: #293d82;
    margin: 0px;
}

.page-title {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: medium solid #DDDDDD
}

.page-title-no-project {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 16px;
    border-bottom: medium solid #DDDDDD
}

.page-subtitle {
    font-size: 12px;
    font-weight: bold;
    color: #293d82;
    margin-bottom: 6px;
}

.pageBoxLinks a {
    text-decoration: none;
    color: #293d82;
}

.pageBoxLinks a:hover {
    text-decoration: underline;
    color: #e65a1d;
}

.pageSection {
}

.pageSectionList {
    list-style-type: none;
    padding: 0px;
}

.pageSectionList li {
    padding: 4px 0px 3px 0px;
}

.pageSectionList li a,
.pageSectionLink {
    color: #e65a1d;
    text-decoration: underline;
}

.alpha-links {
    margin: 14px 0px 10px 0px;
}

.alpha-links .pageSectionLink {
    margin-right: 3px;
}

.help {
	color:#444; 
    font-style: italic;
}

a img {
    border: none;
}

div#main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    min-width: 965px;
    height: 100%;
    top: 0px;
    bottom: 0px;
}

#rssnews {
     border-top: 6px solid #5c82b7;
     border-bottom: 5px solid #5c82b7;
     background-color: #ffffde;
     padding: 6px 0px 10px 0px;
     text-align: center;
     font-size: 12px;
     margin: 0 10px;
     width: 99%;
}

#rssnews p {
      margin: 2px 20px 2px 20px;
}

#maintmode {
     border-top: 6px solid #5c82b7;
     border-bottom: 5px solid #5c82b7;
     background-color: #ffcccc;
     padding: 6px 0px 10px 0px;
     text-align: center;
     font-size: 12px;
}

#maintmode p {
     margin: 2px 20px 2px 20px;
}

.confirmImageButton {
    margin-top: 2px;
}

.email-address {
    width: 200px;
}

.newsAge {
    color: #333;
}

div#middle {
    margin-left: 10px;
    margin-right: 227px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
    height: 1%;
}

div#middle-wide {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
}

div#fullpage-middle {
    margin-left: 236px;
    margin-right: 227px;
    padding-bottom: 10px;
}

div#productVersion {
    float: right;
    margin-top: 24px;
    padding-left: 10px;
}

div#spanleft {
    width: 700px;
    margin-right: 235px;
}

div#spanright {
    margin-left: 240px;
}

div#admin-spanright {
    margin-left: 224px;
    margin-right: 10px;
}

div#layout {
    width: auto;
    min-width: 935px;
    padding: 0px;
    margin: 10px 10px 0px 10px;
}

div#layout #help {
    width: 600px;
    margin-right: 25%;
    margin-left: 15%;
}

table {
    width: 100%;
    margin-left: 0 !important;
    margin-left: -3px;
    margin-right: 0 !important;
    margin-right: -3px;
}

table.not-wide {
    width: auto;
}

td, th {
    vertical-align:top;
    text-align:left;
}
th {
    white-space:nowrap;
}
.nowrap {
    white-space:nowrap;
}

/* serious errors */
p.errormessage {
     background: #ffcccc;
     border: 1px solid #ff3333;
     padding: 10px;
     margin-left: 1em;
     margin-right: 1em;
}

/* warnings that may not be fatal */
p.warningmessage {
     background: #ffffcc;
     border: 1px solid #ffcc66;
     padding: 10px;
     margin-left: 1em;
     margin-right: 1em;
}

/* informative messages */
p.message {
     background: #ffffcc;
     border: 1px solid #ffcc66;
     padding: 10px;
     margin-left: 1em;
     margin-right: 1em;
}


div.side#left {
    float: left;
}

div.side#right {
    float: right;
}

/* COMMON LAYOUT ITEMS */

/* top header */
div#top {
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 102px;
    width: 99%;
    min-width: 955px;
    background: url(../images/topgrad.png) repeat-x;
}

div#prodLogo {
    float: left;
    margin-top: 13px;
    vertical-align: top;
}

div#corpLogo {
    float: left;
    margin-top: 13px;
}

div#page {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background-color: #cedaea;
    border-top: 1px solid #5d82b7;
    width: 99%;
}

div.fullpage {
    margin: 10px 10px 0px 10px;
    background-color: #fff;
    padding: 0px;
    width: auto;
    height: 100%;
    min-height: 338px;
    min-width: 935px;
}

div.spacer {
    height: 10px;
}

div.fullpage_blue {
    margin: 0px 10px 0px 10px;
    background-color: #f1f4f9;
    padding: 0px;
}

div.full-content {
    padding: 0px 10px;
}

div#leftcenter {
    margin-right: 240px;
    padding-left: 10px;
}

div#centerright {
    margin-left: 240px;
    padding-right: 10px;
}

div#innerpage {
    margin: 0px 0px 0px 225px;
    background-color: #fff;
    padding: 0px;
}

div#top img#topgradleft,
img.pagetopleft,
img.pagebottomleft
{
    float: left;
}

div#top img#topgradright,
img.pagetopright,
img.pagebottomright {
    float: right;
}

img.pagebottomright,
img.pagebottomleft
{
    vertical-align: bottom;
}

div#top div#topRight {
    float: right;
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
}

div#top #topRight div {
    padding: 0px;
}

div#top #topRight div.about {
    padding: 6px;
    font-size: 11px;
    color: #4c4c4c;
}

div#top #topRight div.about a {
    font-weight: normal;
}

div#top #topRight div.about a:link {
    color: #4c4c4c;
}

div#top #topRight div.about a:visited {
    color: #4c4c4c;
}

#useIt a:hover,
div#prodLogo a:hover,
div#corpLogo a:hover {
    color: #4c4c4c;
    background-color: transparent;
    text-decoration: none;
}

form#searchForm {
    margin-top: 5px;
    color: #000;
    width: 550px;
    white-space: nowrap;
}

form#searchForm div.searchParams {
    text-align: right;
}

form#searchForm input {
    margin: 8px 0px 0px 0px;
}

form#searchForm label {
    margin: 8px 0px 0px 0px;
    padding-right: 0px;
    font-weight: normal;
}

form#searchForm label.search {
    font-size: 11px;
}

form#searchForm input.searchField {
    width: 150px;
    float: right;
    margin-top: 10px;
}

form#searchForm br {
    clear: right;
}

form#searchForm div#browseText {
    margin-top: 12px;
    _padding-top: 6px;
}

form#searchForm div#browseText a {
    font-weight: bold;
}

#select-add-user {
    width: 187px;
}

button {
    width: auto;
    overflow: visible;
}

.button {
    width: auto;
    overflow: visible;
    padding: 0px 4px;
}

button.img {
    border: 0px;
    background: none;
    padding: 0px;
    cursor: pointer;
}

button#searchSubmit {
    float: right;
	padding-top: 8px;
    margin-left: 5px;
}

button#createAccountSubmit {
    float: right;
    margin-left: 5px;
}

/* footer */

div#footer {
    color: #000;
    width: 99%;
    min-width: 955px;
    padding: 0 6px;
    font-family: verdana, sans-serif;
    font-size: 11px;
}

div#footer a {
    font-weight: normal;
    color: #000;
}

div.footerLinks {
    padding: 12px 10px 8px 0px;
    margin: 0;
}

span#topOfPage {
    padding: 12px 0px 4px 0px;
    margin: 0;
    float: right;
}

/* very bottom of the page */

div#bottomText {
    border-top: 1px solid #fff;
    padding: 6px 0 0 0;
    text-align: left;
}

/* top ten list */

div#topten,
div#topten a,
div#topten a:visited,
div#topten a:active,
div#topten a:hover {
     color: #333;
     clear: right;
}

div#topten a,
div#topten a:visited,
div#topten a:active {
     text-decoration: none;
}

div#topten a:hover {
     color: #e65a1d;
     text-decoration: underline;
     background: transparent;
}

div#topten table td {
     width: 33%;
}

div#topten ul {
     margin: 4px 15px 0 15px;
     padding: 0px;
}

div#topten ul li {
     margin-top: 8px;
     padding-bottom: 2px;
     border-bottom: 1px solid #d8e3f6;
     margin-left: 0px;
     padding-left: 18px;
     padding-top: 0px;
     list-style-type: none;
     background: url(../images/icon_bullet.png) top left no-repeat;
}

/* set the lower-left corner image */
#topten .cssbox_body {
     background: transparent;
     margin-right: 0px; /* interior-padding right */
     margin-left: 0px; /* interior-padding right */
}

table.topten_table {
     padding-top: 5px;
}

th.topten_header_recommended {
     font-size: 11px;
     font-weight: bold;
     line-height: 16px;
     color: #000;
     padding: 0px 0px 5px 34px;
     background: url(../images/icon_topten_recommended.png) top left 
no-repeat;
}

th.topten_header_recent {
     font-size: 11px;
     font-weight: bold;
     line-height: 16px;
     color: #000;
     padding: 0px 0px 5px 34px;
     background: url(../images/icon_topten_recent.png) top left no-repeat;
}

th.topten_header_popular {
     font-size: 11px;
     font-weight: bold;
     line-height: 16px;
     color: #000;
     padding: 0px 0px 5px 34px;
     background: url(../images/icon_topten_popular.png) top left no-repeat;
}

th.topten_header_top {
     font-size: 11px;
     font-weight: bold;
     line-height: 16px;
     color: #000;
     padding: 0px 0px 5px 34px;
     background: url(../images/icon_topten_top.png) top left no-repeat;
}

span.topten_header a:hover {
     text-decoration: none;
}

/* Palette styles */
img.left {
    float: left;
}

img.right {
    float: right;
}

.palette {
    margin-bottom:12px;
    padding-bottom: 41px;
    background: url(../images/box_body_r.png) no-repeat bottom left;
    width: 215px;
    font-family: verdana, sans-serif;
    font-size: 11px;
}

.wizard-nav-palette {
    margin-top: 10px;
    margin-bottom:12px;
    padding-bottom: 41px;
    background: url(../images/wiz_box_body_r.png) no-repeat bottom left;
    width: 215px;
    font-family: verdana, sans-serif;
    font-size: 11px;
}

.boxRightIcon {
    float: right;
    vertical-align: middle;
    padding-top: 1px;
    padding-right: 0px;
}

.palette div.boxHeader {
    margin: 0px;
    padding: 18px 0px 0px 0px;
    color: #fff;
    background: url(../images/header_blue_bg.png);
    font-weight: bold;
    height: 23px;
}

.wizard-nav-palette div.boxHeader {
    margin: 0px;
    padding: 18px 0px 0px 0px;
    color: #fff;
    background: #fff url(../images/wiz_header_blue_bg.png) no-repeat top left;;
    font-weight: bold;
    height: 23px;
}

.palette .bracket,
.wizard-nav-palette .bracket {
    color: #ffcc7f;
}

div.userBoxHeader {
    margin: 0px;
    padding: 18px 0px 0px 0px;
    color: #f47503;
    background: url(../images/header_user_bg.png);
    font-weight: bold;
    height: 23px;
}

div.right-palette {
    width: 207px;
    margin: 10px 0 0 0;
    background: url(../images/box_body_user.png) no-repeat bottom left;
    margin-bottom: 10px;
    font-family: verdana, sans-serif;
    font-size: 11px;
}

div.rightBoxHeader {
    margin: 0px;
    padding: 18px 0px 0px 0px;
    color: #000;
    background: url(../images/header_user_bg.png);
    font-weight: bold;
    height: 23px;
}

div.rightBoxBody {
    padding: 10px 10px 25px 10px;
}

div.memberBoxBody {
    padding: 10px 10px 0px 13px;
}

div.memberBoxBody input,
div.memberBoxBody select{
    margin-top: 2px;
}

div.userBoxBody {
    background: url(../images/header_user_bg.png);
    font-weight: bold;
    padding: 10px 10px 0px 10px;
}

ul.navigation  {
    margin-left: 0;
    padding: 0px 10px 0px 10px;
    list-style-type: none;
}

ul.navigation li {
    color: #000;
    font-weight: normal;
    padding: 8px 20px 6px 10px;
    border-top: 1px solid #91a3c0;
    line-height: 15px;
    width: 166px;
    background: url(../images/nav_bg.png) no-repeat;
}

ul.navigation li.selectedItem {
    font-weight: bold;
    padding: 8px 20px 6px 10px;
    border-top: 1px solid #91a3c0;
    line-height: 15px;
    width: 166px;
    background: url(../images/nav_selected_bg.png) no-repeat;
}

ul.navigation li:first-child,
ul.navigation li.selectedItem:first-child {
    border-top: 0px solid #91a3c0;
}

ul.navigation li a {
    text-decoration: none;
    color: #000;
}

ul.navigation li a:hover {
    text-decoration: underline;
    color: #000;
}

ul.wiz-navigation  {
    margin-left: 0;
    padding: 0px 10px 0px 10px;
    list-style-type: none;
}

ul.wiz-navigation li {
    color: #000;
    font-weight: normal;
    padding: 8px 20px 6px 10px;
    border-top: 1px solid #91a3c0;
    line-height: 15px;
    width: 166px;
}

ul.wiz-navigation li.completedItem {
    font-weight: normal;
    padding: 8px 20px 6px 10px;
    border-top: 1px solid #91a3c0;
    line-height: 15px;
    width: 166px;
    background: url(../images/wiz_nav_completed_bg.gif) no-repeat;
}

ul.wiz-navigation li.selectedItem {
    font-weight: bold;
    padding: 8px 20px 6px 10px;
    border-top: 1px solid #91a3c0;
    line-height: 15px;
    width: 166px;
    background: url(../images/nav_selected_bg.png) no-repeat;
}

ul.wiz-navigation li:first-child,
ul.wiz-navigation li.selectedItem:first-child {
    border-top: 0px solid #91a3c0;
}

ul.wiz-navigation li a {
    text-decoration: none;
    color: #000;
}

ul.wiz-navigation li div {
    font-weight: normal;
}

ul.wiz-navigation li.wiz-exit {
    font-weight: normal;
    padding: 8px 20px 6px 10px;
    line-height: 15px;
    width: 166px;
    background: url(../images/nav_bg.png) no-repeat;
}

ul.wiz-navigation li.wiz-exit a {
    text-decoration: none;
}

ul.wiz-navigation li.wiz-exit a:hover {
    text-decoration: underline;
}

.boxBody {
    padding: 10px 10px 0px 10px;
}


/* Sign in styles */
.boxBody form {
    padding: 0px 0px 17px 10px; 
    margin-top: 13px;
}

.signinlabel{
    font-weight: bold;
    margin: 0;
    padding: 4px 0 0 0;
}

.signinfield {
    margin-top: 1px;
    font-weight: normal;
    width: 150px;
}

.signinremember {
    margin: 13px 6px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.signincheck {
    float: left;
}

button#signInSubmit {
    margin: 8px 0px 4px 0px;
}

div.signinActions {
    border-top: 1px solid #d8dbe0;
    padding: 0px 0 20px 0;
}

/* Releases pane */
#release {
    width: 466px;
}

.releaseMore,
.releaseNew {
    margin-bottom: -30px;
    text-align: right;
    padding-right:10px;
    color: #293d82;
}

.releaseMore a,
.releaseNew a {
    color: #293d82;
    text-decoration: none;
}

.releaseMore a:hover,
.releaseNew a:hover {
    color: #e65a1d;
    text-decoration: underline;
}

ul.releases {
    list-style-type: none;
    padding: 0px 10px 0px 10px;
    margin-bottom: 28px;
    color: #f1f4f9;
    margin-left: 0px;
}

ul.releases li:first-child {
    border-top: 0px solid #91a3c0;
}


ul.releases li {
    color: #fff;
    font-weight: normal;
    padding: 6px 20px 5px 10px;
    border-top: 1px solid #91a3c0;
    width: 166px;
    background: url(../images/nav_bg.png) no-repeat top left;
}

ul.releases li a {
    color: #000;
    font-weight: normal;
    padding: 0px 0px 4px 0px;
    text-decoration: none;
}

ul.releases li a:hover {
    color: #000;
    font-weight: normal;
    padding: 0px 0px 4px 0px;
    text-decoration: underline;
}

.version, .commitTime {
    padding-top: 2px;
}

ul.commits {
    list-style-type: none;
    padding: 0px 10px 0px 10px;
    margin-bottom: 20px;
    color: #f1f4f9;
    margin-left: 0px;
}

ul.commits li:first-child {
    border-top: 0px solid #91a3c0;
}

ul {
    margin-left: 0px;
    padding-left: 20px;
}

#versionSelectorForm {
    margin: 0px;
    padding: 0px;
}

ul.commits li {
    color: #fff;
    font-weight: normal;
    margin-right: 10px;
    padding: 6px 20px 5px 10px;
    border-top: 1px solid #91a3c0;
    width: 166px;
    background: url(../images/nav_bg.png) no-repeat top left;
}

ul.commits li a {
    color: #000;
    font-weight: normal;
    padding: 0px 0px 4px 0px;
    text-decoration: none;
}

ul.commits li a:hover {
    color: #000;
    font-weight: normal;
    padding: 0px 0px 4px 0px;
    text-decoration: underline;
}

/* Download box styles */
.boxPalette {
    padding: 0px 0px 0px 0px;
    background-color: #ededed;
}

.boxPalette div.boxHeader {
    color: #e65a1d;
    margin-bottom: 0px;
    font-weight: bold;
    height: 22px;
}

.boxPalette div.boxFooter {
    width: 100%;
}

.downloadList {
    list-style-type: none;
    padding-left: 9px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #000;
}

.downloadList li {
    padding: 8px 0px 8px 0px;
}

.downloadList a {
    color: #000;
    text-decoration: underline;
}

.boxPalette img {
    margin: 0px;
    padding: 0px;
}

/* Projects Pane */

div#projectsPane {
    width: 207px;
    margin: 10px 0 0 0;
    background: url(../images/box_body_user.png) no-repeat bottom left;
    margin-bottom: 10px;
    font-family: verdana, sans-serif;
    font-size: 11px;
}

div#projectsPane img.left {
    float: left;
}

div#projectsPane select {
    width: 165px;
}

div#projectsPane img.right {
    float: right;
}

div#projectsPane div.boxHeaderText {
    color: white;
    font-weight: bold;
}

div#projectsPane div.userBoxHeaderText {
    color: #e65a1d;
    font-weight: bold;
}

.emphasisHeaderText {
    color: #e65a1d;
    font-weight: bold;
}

span.userBoxBracket {
    font-weight: normal;
    color: #000;
}

div#projectsPane div.boxHeader {
    background: url(../images/header_orange_bg.png);
}
div#projectsPane div.blueBoxHeader {
    background: url(../images/header_blue_bg.png);
}

div#projectsPane div.boxBody {
    padding-bottom: 25px;
}

div#projectsPane div.boxHeader span {
    float: left;
}

div#projectsPane a.signout {
    font-weight: normal;
    text-decoration: none;
    float: right;
    color: #293d82;
}
div#projectsPane a.signout:hover {
    font-weight: normal;
    text-decoration: underline;
    float: right;
    color: #e65a1d;
}

div#projectsPane h4 {
    padding: 2px 6px 2px 10px;
    margin-bottom: 0;
    font-size: 11px;
    font-family: verdana, sans-serif;
    font-weight: bold;
}

div#projectsPane ul {
    margin: 4px 0px 0px 0px;
    padding: 0px 0px 20px 24px;
    border-bottom: 1px solid #d8dbe0;
}

div#projectsPane ul li {
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 6px;
}

div#projectsPane ul li a {
    text-decoration: none;
    color: #000;
}

div#projectsPane ul li a:hover {
    text-decoration: underline;
    color: #e65a1d;
}

.projectsPaneItem {
    margin: 0px 0px 0px 0px;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid #d8dbe0;
    height: 13px;
}

.projectsPaneSelector {
    margin: 0px 0px 0px 0px;
    padding: 8px 10px 10px 10px;
    height: 36px;
}

#switchProjectSelector optgroup {
    font-family: verdana, sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    line-height: 14px;
    padding: 1px 4px 1px 4px;
}

#switchProjectSelector option {
    line-height: 14px;
    padding: 1px 4px 1px 4px;
    border: 0px;
}

.projectsPaneItemTop {
    margin: 10px 0px 0px 0px;
    padding: 8px 10px 8px 10px;
    border-top: 0px solid #d8dbe0;
    height: 13px;
}

.projectsPaneAction {
    background: url(../images/project_pane_arrow.png);
    margin: 0px 0px 0px 0px;
    padding: 8px 10px 8px 10px;
    border-top: 1px solid #d8dbe0;
    height: 13px;
}

.projectsPaneActionTop {
    background: url(../images/project_pane_arrow.png);
    margin: 10px 0px 0px 0px;
    padding: 8px 10px 8px 10px;
    border-top: 0px solid #d8dbe0;
    height: 13px;
}

.projectsPaneAction a,
.projectsPaneActionTop a {
    text-decoration: none;
}

.projectsPaneBottom {
    height: 29px;
}

.rboJoin {
    margin-top: 15px;
    border-top: 1px solid #d8dbe0;
    padding: 10px 10px 0px 10px;
    color: #48494a;
    line-height: 16px;
}

/* Group Builder */

div#groupBuilder {

}

div#groupBuilder img.left {
    float: left;
}

div#groupBuilder img.right {
    float: right;
}

div#groupBuilderItems {
}

div#groupBuilder table {
    width: 186px;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 0px;
}

div#groupBuilder table tr:first-child {
    color: black;
    background: #d8dbe0;
    padding: 2px 0px;
}

div#groupBuilder table td {
    padding: 2px;
}

table.groupTroveItems {
    border-collapse: collapse;
    border-top: 0;
}

/* Create and Edit Image / Build */

span#editProject {
    margin-left: 1em;
    font-weight: normal;
    font-size: x-small;
}

.formsubgroup {
    margin-left: 2px;
    margin-right: 0px;
}

.formsubgroupTitle {
    font-weight: bold;
}

tr.editGroupHeader,
.formGroupTitle {
    color: #000;
    font-size: 20px;
    font-weight:  normal;
    margin-top: 10px;
    padding: 13px 0px 10px 0px;
}

.expandableHelpTitle {
    cursor: pointer;
    color: #000;
    font-size: 10px;
    font-family: verdana, sans-serif;
    font-weight:  normal;
    margin: 13px 0px 10px 0px;
    border-bottom: 1px solid #ddd;
    width: 98%;
}

.expandableFormGroupTitle {
    cursor: pointer;
    color: #000;
    font-size: 16px;
    font-family: verdana, sans-serif;
    font-weight:  normal;
    margin: 13px 0px 10px 0px;
    border-bottom: 1px solid #ddd;
    width: 98%;
}

.expandableHelpTitle,
.expandableFormGroupTitle img
{
    float: left;
    padding-right: 10px;
}

.formGroupTitle img {
    float: right;
}

.expandableformgroup,
.formgroup {
    margin-bottom: 20px;
    padding: 0px 0;
}

.formsubgroup {
    margin-bottom: 0px;
    padding: 10px 0;
}

.formgrouptable {
    border-collapse: collapse;
}

.formgrouptable td {
    padding: 5px 10px 5px 0px;
    vertical-align: top;
}

.form-label {
    white-space: nowrap;
    width: 1%; /* forces min width */
}

.form-label-text {
    line-height: 18px;
}

.label-note {
    margin-top: 4px;
    color: #666;
}

.formgroup input,
.formgroup textarea,
.formgroup select {
    width: 80%;
}

.formgrouptable td.form-label-right {
    margin-left: 4px;
    padding-top: 8px;
}

.formgrouptable td.checkbox {
    margin: 0px;
    padding: 4px 0px 0px 0px;
    width: 22px;
}

td.rel-checkbox {
    margin: 0px;
    padding: 4px 4px 0px 0px;
    text-align: right;
    width: 35px;
}

.formgrouptable td.radio {
    margin: 0px;
    padding: 4px 0px 0px 0px;
    width: 30px;
}

.formgrouptable td.checkbox input {
    margin: 4px 8px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.expandableformgroupItems
{
    width: 70%;
    padding-top: 0;
}

.expandableformgroup label.check_label
{
}

.expandableformgroup input.check {
    margin-bottom: -.25em;
}

.expandableformgroupItems select{
    width: 100%;
}

.expandableformgroupItems input, textarea{

}

.expandableformgroupItems div.resize {
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline;
}

.expandableformgroupItems div.expander {
    background: url(../images/TEXTAREA_expanded.gif) top left no-repeat;
}

.expandableformgroupItems div.expander:hover {
    background: url(../images/TEXTAREA_expand.gif) top left no-repeat;
}

.expandableformgroupItems div.collapser {
    background: url(../images/TEXTAREA_collapsed.gif) top left no-repeat;
}

.expandableformgroupItems div.collapser:hover {
    background: url(../images/TEXTAREA_collapse.gif) top left no-repeat;
}

.expandableformgroup div.help{
	color:#444; 
    font-style: italic;
}

.fsTypeDD {
    width: 100% ! important;
}

tbody#fsEditorBody tr td button {
    width: 85%;
}

.sliderBg {
    background: url(/conary-static/apps/mint/images/sliderbg.png) no-repeat;
    background-position: 8px 0px;
}

table.fsEditorTable thead {
    font-weight: bold;
    border-bottom: 1px solid black;
}

.smallSpecs,
table.buildstable td.buildInfo {
    font-weight: normal;
    font-style: normal;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.smallSpecs {
    padding-left: 10px;
}

/* Safari doesn't handle disabled buttons properly...*/
button.d { color: #666; border:2px outset #eee; }

table.buildstable span.buildAssociated {
    font-size: smaller;
    font-weight: normal;
    font-style: italic;
    text-align: right;
}

table.buildstable td.buildName {
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    padding-left: 10px;
    padding-right: 10px;
}

table.buildstable td {
    margin-bottom: 0.25em;
}

table.releasestable td.releaseInfo {
    font-size: smaller;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
}

table.releasestable td.releaseInfoRight {
    text-align: right;
    font-size: smaller;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
}

table.releasestable td.releaseName {
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    padding-left: 10px;
    padding-right: 10px;
}

table.releasestable td {
    margin-bottom: 0.25em;
}

label.troveSpecs {
    text-decoration: none;
    font-weight: bold;
    width: 20%;
    display: block;
}

div.troveData {
    width: 68%;
    float: right;
    margin-right: 10px;
}

input.relcheck {
 width: 22px;
}

/* twirlythingy */

span#baton {
    float: right;
    color: black;
    height: 1px;
    font-size: 1px;
}

/* dev tutorial styles */
div#devTutorial {

}

div.devTutorial h1,
div.devTutorial h2 {
    clear: left;
}

div.devTutorial p img {
    float: left;
    padding: 0px 24px 36px 12px;
}

#jobStatus {
    font-weight: bold;
}

/* user settings page*/

.confirm-buttons td {
    padding-right: 30px;
}

button#userSubmit {

}

button#userCancel {
    width: 150px;
    height: 21px;
}

td.buildTypeIcon {
    text-align: right;
}

td.buildTypeIcon img {
    float: right;
    margin: 0 0 0 20px;
}


div.palette div.boxBody,
div.wizard-nav-palette div.boxBody  {
    padding: 0px 8px 0px 8px;
}

/* job status colors */

#statusAreaHeader {
    background: #888;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 4px;
}

#statusArea {
    margin: 0px 10px;
    padding: 10px 0px 12px 0px;
    overflow: auto;
    line-height: 15px;
    
}

.error {

}

.running {

}

.finished {

}

#editBuildOptions {
    text-align: center;
    margin-top: 1em;
}

button.newStyle {
    cursor: pointer;
}

/* general status -- refactor the job status to use these
   these happen to be multi-instance per page.*/
.statusError {
    padding: 4px 10px 4px 10px;
}

.statusRunning {
    padding: 4px 10px 4px 10px;
}

.statusFinished {
    padding: 4px 10px 4px 10px;
}

img#spinner {
    padding: 8px;
    float: right;
}

img#nameSpinner, img#archSpinner {
    display: none;
    padding-right: 4px;
}

#mintVersionString {
    color: #000;
}

.status {
     padding: 10px;
     text-align: left;
     font-size: 11px;
     padding-left: 32px;
}

#info {
    border-top: 6px solid #5c82b7;
    border-bottom: 5px solid #5c82b7;
    background: #ffffde url(../images/icon_accept.gif) no-repeat 10px 10px;
    *background-position: 10px 14px;
}

#errors {
     border-top: 6px solid #5c82b7;
     border-bottom: 5px solid #5c82b7;
     background: #ffffde url(../images/errors.gif) no-repeat 10px 10px;
     *background-position: 10px 14px;
     margin: 0 10px;
     width: auto;
}

#errors p {
     margin-top: 2px;
     margin-bottom: 2px;
     margin-left: 27px;
}


/* group/permission manipulation */

table.user-admin {
     border: 1px solid #d0d0d0;
     border-collapse: collapse;
     width: 100%;
     position: relative;
}

table.user-admin thead {
     background-color: #e7e7e7;
     font-weight: bold;
     font-size: 100%;
}
table.user-admin thead tr {
     border: 1px solid black;
}

table.user-admin thead tr td {
     padding: 6px;
     border: 1px solid #d0d0d0;
}

table.user-admin tbody tr td {
     padding: 3px;
}

table.user-admin#permissions {
     font-size: 80%;
     width: 100%;
     border: none;
}

table.user-admin#permissions thead {
     background: #f0f5ff;
}

.odd {
      background-color: white;
      height: 1%;
      margin-top: 0px !important;
      margin-top: -3px;
      margin-bottom: 0px !important;
      margin-bottom: -3px;
}

.even {
      background-color: #f5f5f5;
      height: 1%;
      margin-top: 0px !important;
      margin-top: -3px;
      margin-bottom: 0px !important;
      margin-bottom: -3px;
}

/* add/edit permissions and groups */

table.add-form {
     width: 100%;
     background-color: #f5f5f5;
     border: 1px solid #d0d0d0;
     position: relative;
}

table.add-form td {
     padding: 5px;
}

table.add-form td#header {
     font-size: 100%;
     font-weight: bold;
}

.learnmore {
}

#helpclose {
    margin-top: 2em;
    text-align: right;
    font-size: smaller;
}

/* Trove picker classes */

div.trovePicker {
    margin: 10px 20px 10px 20px;
}

div.trovePicker span.prompt {
    font-size: 11px;
    font-weight: bold;
}

div.trovePicker a {
    cursor: pointer;
}

div.trovePicker ul, div.trovePicker ul {
    list-style-type: none;
    padding-left: 10px;
}

div.formsubgroup > div > a {
    cursor: pointer;
    text-decoration: underline;
}

.modified {
    color: blue;
}

td.modified a:link {
    color: blue;
}

td.modified a:visited {
    color: blue;
}

td.modified a:hover {
    color: #e65a1d;
}

img.pointer {
    cursor: pointer;
}

ul.referenceList {
    list-style-type: none;
    padding-left: 12px;
}

ul.referenceList li {
    font-size: larger;
    font-weight: bold;
}

ul.referenceList li ul {
    list-style-type: none;
    padding-top: 6px;
    padding-bottom: 1em;
}

ul.referenceList li ul li {
    font-size: smaller;
    font-weight: normal;
}

table.archOptions td {
    padding-bottom: 8px;
}

table.archOptions td.label{
    padding-top: 4px;
}

.bold {
    font-weight: bold;
}

/* .mountPointMod {position:relative;} */
.mpAutoComplete {position:relative;margin-bottom:1em;}/* set width of widget here*/
.mpAutoComplete {z-index:9000} /* for IE z-index of absolute divs inside relative divs issue */
.MpInput {_position:absolute;width:100%;height:1.4em;z-index:0;} /* abs for ie quirks */
.MpContainer {position:absolute;top:1.7em;width:100%}
.MpContainer .yui-ac-content {position:absolute;width:100%;border:1px solid #404040;background:#fff;overflow:hidden;z-index:9050;}
.MpContainer .yui-ac-shadow {position:absolute;margin:.3em;width:100%;background:#a0a0a0;z-index:9049;}
.MpContainer ul {padding:5px 0;width:100%;}
.MpContainer li{padding:0 5px;cursor:default;white-space:nowrap;}
.MpContainer li.yui-ac-highlight {background:#ff0;}
.MpContainer li.yui-ac-prehighlight {background:#FFFFCC;}

table.buildDefs {
    font-size: smaller;
    background: #fcfcfc;
    border: 2px solid #f0f0f0;
    margin-bottom: 2em;
    padding: 10px;
}
table.buildDefs tr td input, table.buildDefs tr td select {
    font-size: smaller;
}

table.buildDefs tr td:first-child {
    width: 50%;
}

table.buildDefs tr td select, table.buildDefs tr td input.text {
    width: 80%;
}

table.buildDefs tr.dialogButtons td button {
    float: right;
}

.invisible { display: none; }

#bulletin {
    width: auto;
    background-color: #ffffde;
    text-align: center;
    margin: 0 -8px !important;
    padding: 10px 0;
    font-size: 11px;
}

#bulletin a,
#bulletin a:hover,
#bulletin a:visited,
#bulletin a:active {
    color: inherit;
    text-decoration: underline;
    background-color: transparent;
}

.indented {
    margin-left: 2em;
}

.notopmargin {
    margin-top: 0;
}

#taskList dl {
    margin-left: 1em;
}

#taskList dt {
    margin-left: inherit;
    font-size: larger;
    border-bottom: 1px solid;
}

#taskList dd {
    margin-left: inherit;
    margin-bottom: 1em;
}

#taskList dd span.imagegroup {
    font-size: smaller;
    font-style: italic;
}

div#progress_indicator {
    border: 1px solid black;
    margin: auto;
    height: 20px;
    width: 90%;
    position: relative;
    left: 0px;
    top: 0px;
}

p#upload_progress_percent_complete {
    margin: 0pt;
    padding: 0pt;
    text-align: center;
    color: black;
    z-index: 2;
}

div#progress_indicator_bar {
    height: 20px;
    width: 1%;
    background-color: orange;
    z-index: -1;
    left: 0px;
    top: 0px;
    position: absolute;
}

div#upload_progress_wait {
    text-align: center;
}

div.bd form
{
    margin-top: 20px;
    text-align: center;
}

.package-version-header {
    padding: 6px 10px 6px 10px;
    background-color: #f0f0f0;
    font-weight: bold;
}

.package-detail {
    padding: 6px 10px 6px 10px;
}

/* SEARCH RESULTS TABLE LAYOUT */
.results {
    width: 100%;
	padding: 0px; 
    margin-bottom: 10px;
    border-collapse: collapse; 
}

.results th {
	font-weight: normal; 
    color: #000;
	padding: 6px 10px 6px 10px;
    background-color: #f0f0f0;
}

.admin-results {
    width: 100%;
	padding: 0px; 
    margin-bottom: 10px;
    border-collapse: collapse; 
}

.admin-results th {
	font-weight: normal; 
    color: #000;
	padding: 6px 10px 6px 10px;
    background-color: #f8f8f8;
}

.admin-results td {
	font-weight: normal; 
    color: #000;
	padding: 2px 10px 2px 10px;
}

.base-package-list {
    list-style-type: none; 
    padding-left: 10px;
}

.image-edit-box {
    background: #f0f0f0;
    padding: 5px 0px 10px 0px;
    border-bottom: 1px solid #ccc;
}

.image-edit-box span.label {
    padding-bottom: 2px;
    margin: 0px;
}

.checkbox-label {
    padding-left: 4px;
    padding-top: 4px;
    width: 100%;
}

#advanced_settings_expander {
    padding-top: 6px;
}

.table-header-row {
    background: #f0f0f0;
    padding: 4px 0px;
}

.table-header-row td {
    padding: 4px 0px;
}

.lockicon {
}

.package-checklist {
    list-style-type: none; 
    padding-left: 10px;
    margin-bottom: 20px;
}

.package-checklist li {
    margin-bottom: 6px; 
}

.package-checklist input {
    margin: 0px;
    padding-right: 6px;
    padding-bottom: 2px;
}

.admin-page {
    margin: 10px 0px 0px 10px;
    padding: 0px;
    width: auto;
}

ul.nobullet {
    list-style-type: none;
}

.amiLaunchLink {
    float: right;
}

.no-decoration,
.no-decoration:hover {
    text-decoration: none;
}

a.image-list {
    text-decoration: none; 
    font-weight: bold; 
}

.image-table td {
    padding: 4px 2px;
}

.image-table {
    border-collapse: collapse;
}

#recipeContents {
    width: 450px;
    height: 400px;
    min-height: 400px;
    font-family: monospace;
}

div#frontPageBlockContainer {
    padding: 10px;
}

.newuiLink, .newuiLink:visited
{
    margin-left: 12px;
    font-weight: bold;
    font-style: italic;
    color: blue;
}

.newuiLink:hover
{
    color: #E65A1D;
}

