/* Mint-specific rules */

/* TOP */
#top .shadowRight {
    margin:0px; padding:1px 0px 1px 0px;
    background:url(../images/top_right_shadow.gif) top right no-repeat;
}
#top .surfaceLeft {
    margin:0px 1px 0px 1px; padding:0px;
    background:#e6e6e6 url(../images/top_left.jpg) top left no-repeat;
}
td#user {
    width:24%; min-width:180px; font-size:0.6333em;
    background:url(../images/user_border.gif) no-repeat;
}
#crumb {
    position:relative; min-width:744px; /* width:85%; */
    color:#fff; font-size:0.6333em;
    text-align:left;
}
#crumb .pad {
    padding:8px 12px 8px 12px; margin:0px;
}
#crumb a {
    color:#fff; font-size:120%; font-weight:bold;
    padding:0px 0px 0px 6px;
    background:url(../images/A_crumb.gif) no-repeat left 50%;
}
#main .pad {
    margin:0px; padding:0px 18px 12px 18px;
}


/* BODY */

body#legal {
    margin: 0em 2em 0em 2em;
}

body#legal p, body#legal li {
    font-size: 80%;
    color: rgb(217, 221, 232);
    text-align: justify;
}

body#legal li {
    list-style-type: circle;
    margin-left: 2em;
}

body#legal a {
    color: white;
    background-image: none;
    padding-right: 0px;
}

body#legal h2, body#legal h3 {
    color: white;
}

.disabledInput {
    color: gray;
}

.disabledOption {
    color: gray;
    text-decoration: line-through;
}

.hiddenOption {
    color: #FF930B;
    background-color: #6D7CAD;
    text-decoration: line-through;
}

/* rss button */
a.rssButton {
    background-image: none;
    padding-left: 5px;
}

a.rssButton img {
    vertical-align: middle;
    border: none;
}

p.error {
        font-size: 125%;
        font-weight: bold;
}
p.errormessage {
        color: red;
        margin-left: 1em;
}

p.message {
        color: blue;
        margin-left: 1em;
}

div.newsItem {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

a.newsContinued {
    float: right;
}
span.newsTitle {
    color:#99660A;
    font-weight: normal;
}
em.resign {
    color: #99660A;
}

code {
        margin-left: 1em;
}

.troveallversions li {
        background: none;
}

#search input {
        background-color: white;
}

#botnav {
    float: right;
}

#botnav a {
    color: #d9dde8;
    margin-right: 12px;
}

#top .surfaceLeft {
    background: #e6e6e6 url(../images/top_left.gif) top left no-repeat;
}

#crumb {
    background: none;
    color: white;
    border: none;
}

table.mainformhorizontal select {
    width: 80%;
}

table#tasks {
    padding: 0.25em;
    margin-bottom: 1em;
}

table#tasks td {
    padding: 0em;
    margin: 0.1em;
    width: 48%;
}

table#tasks td#spacer {
    width: 4%;
}

table#tasks td p {
    padding: 0.5em;
}

td.tasksBlock:hover {
    background: #dfdfdf;
    cursor: pointer;
}

td.tasksBlock{
    background: #efefef;
    padding-left: 1em;
}

td.tasksBlock h3 {
    font-size: 150%;
    padding: 0.25em;

    color: #FF930B;
}

table#releaseData {
    width: 100%;
}

table#releaseData td:first-child {
    width: 25%;
}

table#releaseData input.text {
    width: 100%;
    background-color:#eee;
}

#main h4.helpHeader {
    color: #bf6e08;
    font-weight: bold;
}

div.helpBlock {
    border: 2px solid #eeeeee;
    background: #efefef;
    padding: 0.5em;
}

div.helpBlock pre, div.helpBlock.tt {
    color: #000055;
}

div.helpBlock pre {
    margin-left: 2em;
}

div.palette#groupbuilder table tr:first-child {
    color: black;
    font-weight: bold;
}

table#groupTroveItems > tr:first-child {
    font-size: 110%;
    font-weight: bold;
    color: white;
    background-color: rgb(153, 153, 153);
}

table#groupTroveItems > tr:first-child td {
    padding: 0.5em;
}
