/* BASIC STYLES */

body {
    font-family: sans-serif;
    font-size: 10pt;
    color: #333;
    margin-top: 0px;
    padding-top: 0px;
}

h1 {
    font-size: 18pt;
}

h2 {
    font-size: 14pt;
}

h3 {
    font-size: 12pt;
}

h4 {
    font-size: 10pt;
    font-weight: bold;
}

a,
a:visited,
a:active,
a:hover {
    color: #333;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

div#main {
    margin-left: auto;
    margin-right: auto;
    width: 955px;
}

div#middle {
    width: 475px;
    margin-left: 235px;
    margin-right: 235px;
    margin-bottom: 24px;
    margin-top: 0;
    padding-top: 0;
}

div#spanleft {
    width: 700px;
    margin-right: 235px;
}

div#spanright {
    margin-left: 240px;
}

div#layout {
    width: 955px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0;
    margin-top: 0;
}

div#layout #help {
    width: 600px;
    margin-right: 25%;
    margin-left: 15%;
}

table {
    width: 100%;
}

td, th {
    vertical-align:top;
    text-align:left;
}
th {
    white-space:nowrap;
}

/* serious errors */
p.errormessage {
    background: #edc2c2;
    border: 2px solid #ed6464;
    padding: 4px;
    margin-left: 1em;
    margin-right: 1em;
}

/* warnings that may not be fatal */
p.warningmessage {
    background: #f4e3ab;
    border: 2px solid #fba517;
    padding: 4px;
    margin-left: 1em;
    margin-right: 1em;
}

/* informative messages */
p.message {
    background: #f5e4ae;
    border: 2px solid #f7c86a;
    padding: 4px;
    margin-left: 1em;
    margin-right: 1em;
}

div.side#left {
    float: left;
}

div.side#right {
    float: right;
}

/* COMMON LAYOUT ITEMS */

/* top header */
div#top {
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 112px;
    width: 955px;
    background: url(../images/topgrad.png);
}

div#prodLogo {
    float: left;
    margin-top: 6px;
    vertical-align: top;
    padding-left: 16px;
}

div#corpLogo {
    float: left;
    padding-right: 16px;
    border-right: 2px dotted #aaaaaa;
    margin-top: 6px;
}

div#top img#topgradleft {
    float: left;
}

div#top img#topgradright {
    float: right;
}

div#top div#topRight {
    width: 50%;
    float: right;
    text-align: right;
    vertical-align: top;
    color: gray;
}

div#top #topRight div {
    padding: 0px;
}

div#top #topRight div.about {
    border-bottom: 2px dotted #aaaaaa;
    padding: 6px;
    font-size: 10pt;
}

div#top #topRight div.about a {
    font-weight: bold;
}

div#top #topRight div.about a:link {
    color: #aaaaaa;
}

div#top #topRight div.about a:visited {
    color: #bbbbbb;
}

form#searchForm {
    margin-top: 8px;
    color: black;
}

form#searchForm label,
form#searchForm input {
        margin: 0px;
}

form#searchForm label {
        text-align: right;
        margin-top: 0.1em;
        padding-right: 10px;
}

form#searchForm label.search,
form#searchForm input.search {
        float: left;
        display: block;
        width: 190px;
        font-size: 12pt;
}


form#searchForm label.search {
        width: 150px;
}

form#searchForm br {
        clear: left;
}

button#searchSubmit {
    width: 108px;
    height: 31px;
}

button.img {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

div#steps {
    visibility: hidden;
    top: 130px;
    width: 720px;
}

div#threeEasySteps {
    clear: left;
    padding-top: 12px;
    padding-left: 12px;
    margin-bottom: 20px;
}

img#getStarted {
    float: right;
    margin-right: 46px;
}

div#stepsText {
    padding: 8px 0px 24px 0px;
}

div#applianceLogos {
    width: 720px;
    height: 200px;
    text-align: center;
}

div#applianceLogo {
    width: 33.33%;
    float: left;
    line-height: 200px;
}

div#orangeTitle, div#inactiveOrangeTitle {
    font-size: 24pt;
    color: #ffa814;
    font-weight: bold;
}

div#activeLeft {
     background: url(../images/activeBubble.png);
     text-align: left;
     width: 326px;
     height: 129px;
     padding-left: 24px;
     padding-right: 3px;
     margin-right: 3px;
}

div#inactiveLeft {
     cursor: pointer;
     background: url(../images/inactiveBubble.png);
     text-align: left;
     width: 327px;
     height: 129px;
     padding-left: 24px;
     padding-right: 3px;
     margin-right: 3px;
     background-repeat: no-repeat;
}

div#activeRight {
    float: right;
    background: url(../images/activeBubble.png);
    text-align: left;
    width: 327px;
    height: 129px;
    padding-left: 24px;
    margin-right: 8px;
    background-repeat: no-repeat;
}

div#inactiveRight {
    cursor: pointer;
    float: right;
    background: url(../images/inactiveBubble.png);
    text-align: left;
    width: 326px;
    height: 129px;
    padding-left: 24px;
    margin-right: 8px;
    background-repeat: no-repeat;
}

#spotlight .cssbox2,
#spotlight .cssbox_body2,
#spotlight .cssbox_head2,
#spotlight .cssbox_head2 div {
    background: transparent url(../images/spotlight.png) no-repeat bottom right;
    cursor: pointer;
}
#spotlight .cssbox2 {
    width: 716px !important; /* intended total box width - padding-right(next) */
    width: 716px; /* IE Win = width - padding */
    padding-right: 0px; /* the gap on the right edge of the image (not content padding) */
    margin: 20px auto; /* use to position the box */
    margin-left: 0;
}

/* set the top-right image */
#spotlight .cssbox_head2 {
    background-position: top right;
    margin-right: 0; /* pull the right image over on top of border */
    padding-right: 25px; /* right-image-gap + right-inside padding */
}

/* set the top-left image */
#spotlight .cssbox_head2 div {
    background-position: top left;
    margin: 0; /* reset main site styles*/
    border: 0; /* ditto */
    padding: 0 0 0 25px; /* padding-left = image gap + interior padding ... no padding-right */
    height: auto !important;
    height: 1%; /* IE Holly Hack */
}


/* set the lower-left corner image */
#spotlight .cssbox_body2 {
    background-position: bottom left;
    margin-right: 25px; /* interior-padding right */
    padding: 0 0 0 25px; /* mirror .cssbox_head right/left */
}

div#spotlightTitle {
    font-size: 14pt;
    color: #ffa814;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
}

div#applianceTitle {
    font-size: 11pt;
    text-align: center;
    font-weight: bold;
    line-height: 110%;
}

div#applianceText {
    font-size: 9pt;
    line-height: 120%;
    padding-top: 2px;
    text-align: justify;
}

img#applianceImg {
    vertical-align: middle;
}

div.archiveLink {
    font-size: 9pt;
    text-align: left;
    color: #ffa814;
    text-decoration: none;
    width: 19%;
    padding-top: 2px;
    padding-bottom: 5px;
    
}

div.archiveLink:hover {
    text-decoration: underline;
}

div#applianceInfo {
    font-size: 9pt;
    text-align: right;
    color: #ffa814;
    text-decoration: none;
    float: right;
    padding-top: 2px;
}

div#logoBox {
    float: left;
    width: 130px;
    line-height: 100px;
    text-align: center;
    margin-top: -2.8em;
}

div#textBox {
    padding-right: 24px;
    padding-left: 134px;
}

div#textBoxWide {
    padding-right: 24px;
    padding-left: 24px;
}

td#spotLabel {
    text-align: right;
}

td#spotInput {
}

table#spotTable {
    margin: 0;
    padding: 0;
    width: 99%;
    border: 1px solid #CCC;
}

th#spotTh, td#spotTd {
    font-size: 100%;
    color: #444;
    padding: 3px;
    text-align: center;
}

th#spotTh {
    background-color: #EEE;
}

tr.odd {
    background-color: #EFEFEF;
}



button#signInSubmit {
    padding: 10px 0px 10px 0px;
}

div#noAccount {
    border-top: 2px dotted gray;
    margin-top: 5px;
}

/* footer */

div#footer {
    background: white url(../images/footer_bg.png) no-repeat;
    color: white;
    text-align: left;
    width: 942px;
    height: 67px;
    bottom: 10px;
    padding: 4px 8px 12px 4px;
    font-size: 10pt;
    float: left;
}

div#footer a {
    text-decoration: none;
    font-weight: bold;
}

div#footer a:link {
    color: white;
}

div#footer a:visited {
    color: #dddddd;
}

ul.footerLinks {
    padding-left: 0;
    margin-left: 0;
}

ul.footerLinks li {
    border-right: 2px dotted #c4c4c4;
    display: inline;
    padding: 8px 10px 8px 10px;
}

span#topOfPage {
    padding-right: 6px;
    float: right;
}

/* very bottom of the page */

div#bottomText {
    border-top: 1px solid #c4c4c4; padding: 6px;
}

span#copyright {
    float: right;
    font-size: 90%;
}

span#tagline {
    padding-left: 4px;
    font-size: 90%;
}

/* top ten list */

div#topten,
div#topten a,
div#topten a:visited,
div#topten a:active,
div#topten a:hover {
    color: #0c2577;
    clear: right;
}

div#topten a,
div#topten a:visited,
div#topten a:active {
    text-decoration: none;
}

div#topten a:hover {
    text-decoration: underline;
}

div#topten table td {
    width: 33%;
}

div#topten ol li {
    padding-bottom: 0.5em;
    margin-left: -1.0em;
}

/* Simple rounded corner boxes using CSS (and a single image)               */
/* c.f. http://www.modxcms.com/simple-rounded-corner-css-boxes.html         */
/*      for more on this technique.                                         */

/* set the image to use and establish the lower-right position */
#topten .cssbox,
#topten .cssbox_body,
#topten .cssbox_head,
#topten .cssbox_head h2 {
    background: transparent url(../images/rounded_grey_box_lg.png) no-repeat bottom right;
}

#topten .cssbox {
    width: 955px !important; /* intended total box width - padding-right(next) */
    width: 955px; /* IE Win = width - padding */
    padding-right: 0px; /* the gap on the right edge of the image (not content padding) */
    margin: 20px auto; /* use to position the box */
}

/* set the top-right image */
#topten .cssbox_head {
    background-position: top right;
    margin-right: 0; /* pull the right image over on top of border */
    padding-right: 25px; /* right-image-gap + right-inside padding */
}

/* set the top-left image */
#topten .cssbox_head h2 {
    background-position: top left;
    margin: 0; /* reset main site styles*/
    border: 0; /* ditto */
    padding: 0 0 0 25px; /* padding-left = image gap + interior padding ... no padding-right */
    height: auto !important;
    height: 1%; /* IE Holly Hack */
}


/* set the lower-left corner image */
#topten .cssbox_body {
    background-position: bottom left;
    margin-right: 25px; /* interior-padding right */
    padding: 0 0 0 25px; /* mirror .cssbox_head right/left */
}

th.topten_header {
    font-size: larger;
    font-weight: bold;
    vertical-align: top;
}

span.topten_header a:hover {
    text-decoration: none;
}

/* Palette styles */
div.palette img.left {
    float: left;
}

div.palette img.right {
    float: right;
}

.palette {
    margin-bottom:12px;
    padding-bottom: 8px;
    background: url(../images/box_body_r.png) no-repeat bottom left;
    width: 225px;
}
.palette div.boxHeader {
    margin-left: 0;
    color: white;
    background: url(../images/header_blue_bg.png);
    padding:4px 11px 6px 0px;
    margin-bottom: 0px;
    font-size: 120%;
    font-weight: bold;
    height: 22px;
}

.palette ul {
    margin-left: 0;
    border-width:0px 1px 0px 1px;
    padding:0px 0px 4px 0px;
    list-style-type: none;
}
.palette li {
    padding:4px 0px 4px 0px; margin:0px 11px 0px 11px;
}
.palette dt {
    padding:0px 0px 0px 0px; margin:0px 11px 0px 11px;
}
.palette dd {
    padding:0px 0px 4px 0px; margin:0px 11px 0px 11px;
    margin-bottom: 0.25em;
    font-size: smaller;
    color: #999;
}
.palette ul li:first-child {
    border:0px;
}
.palette form {
    padding:10px 11px 0px 11px;
}
.palette form p {
    padding-bottom:0.8em; margin-bottom:0px;
}
.palette input, .palette select {
    width:95%;
}

/* Projects Pane */

div#projectsPane {
    width: 224px;
    margin-left: 3px;
    margin-right: 3px;
    background: url(../images/box_body_r.png) no-repeat bottom left;
    margin-bottom: 10px;
}

div#projectsPane img.left {
    float: left;
}

div#projectsPane img.right {
    float: right;
}

div#projectsPane div.boxHeaderText {
    color: white;
    padding-top: 4px;
    padding-bottom: 6px;
    margin-bottom: 0px;
    font-size: 130%;
    font-weight: bold;
    height: 22px;
}

div#projectsPane div.boxHeader {
    background: url(../images/header_orange_bg.png);
}
div#projectsPane div.blueBoxHeader {
    background: url(../images/header_blue_bg.png);
}

div#projectsPane div.boxBody {
    padding-bottom: 25px;
}

div#projectsPane div.boxBody p,
div#projectsPane div.boxBody h3,
div#projectsPane div.boxBody h4 {

    padding: 0px 6px 0px 12px;
}

div#projectsPane div.boxHeader span {
    float: left;
}

div#projectsPane a.signout {
    float: right;
    font-size: small;
    color: white;
}

div#projectsPane div#newProject {
    text-align: center;
}
div#projectsPane div#userSettings {
    text-align: center;
}
div#projectsPane div#administer {
    text-align: center;
}
div#projectsPane div#rMake {
    text-align: center;
}

div#projectsPane h4 {
    padding-bottom: 0;
    margin-bottom: 0;
}

div#projectsPane ul {
    margin-top: 0.5em;
}

/* Group Builder */

div#groupBuilder {
    clear: right;
    width: 224px;
    margin: 8px 3px 12px 3px;
    background: url(../images/box_body_r.png) no-repeat bottom left;
}

div#groupBuilder img.left {
    float: left;
}

div#groupBuilder img.right {
    float: right;
}

div#groupBuilder div.boxHeader {
    color: white;
    background: url(../images/header_orange_bg.png);
    padding: 4px 11px 6px 11px;
    margin-bottom: 0px;
    font-size: 120%;
    font-weight: bold;
    height: 22px;
}

div#groupBuilderItems {
    padding: 4px;
}

div#groupBuilder table tr:first-child {
    color: black;
    font-weight: bold;
}

table.groupTroveItems {
}

table.groupTroveItems > tr:first-child {
    font-size: 110%;
    font-weight: bold;
    color: white;
    background-color: rgb(153, 153, 153);
}

table.groupTroveItems > tr:first-child td {
    padding: 0.5em;
}

table.groupTroveItems textarea {
    width: 100%;
}

/* rMake Builder */

div#rMakeBuilder {
    clear: right;
    width: 224px;
    margin: 8px 3px 12px 3px;
    background: url(../images/box_body_r.png) no-repeat bottom left;
}

div#rMakeBuilder img.left {
    float: left;
}

div#rMakeBuilder img.right {
    float: right;
}

div#rMakeBuilder div.boxHeader {
    color: white;
    background: url(../images/header_orange_bg.png);
    padding: 4px 11px 6px 11px;
    margin-bottom: 0px;
    font-size: 120%;
    font-weight: bold;
    height: 22px;
}

div#rMakeBuilderItems {
    padding: 4px;
}

div#rMakeBuilder table tr:first-child {
    color: black;
    font-weight: bold;
}

span#editProject {
    margin-left: 1em;
    font-weight: normal;
    font-size: x-small;
}

.formgroup,
.formsubgroup {
    border-top: 0;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    padding: 10px 0;
}

.formgroupTitle img {
    float: right;
}

.formsubgroup,
.formsubgroupTitle {
    background-color: #eee;
    margin-left: 20px;
    margin-right: 20px;
}

.formgroupTitle {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    font-size: larger;
    font-weight: bold;
    background-color: #eee;
    margin-bottom: 0;
    padding: 4px;
}

.formsubgroupTitle {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #aaa;
    font-weight: bold;
    padding: 3px;
}

.formgroup label,
.formgroup input,
.formgroup textarea,
.formgroup select {
    display: block;
    float: left;
    margin-bottom: 1.25em;
    width: 60%;
}

.formgroup label {
    text-align: right;
    width: 30%;
    margin-left: 10px;
    padding-right: 10px;
}

div.clearleft {
    clear: left;
    margin: 0;
    padding: 0;
}

.formgroup label.reversed,
.formsubgroup label.reversed {
    text-align: left;
    width: 75%;
    padding-left: 5px;
    padding-right: 0;
}

.formgroup input.reversed {
    width: 14px;
    margin-left: 30px;
}

/* mailing-list specific styles */
div.mailingListButtons div {
    float:left;
    margin-right:5px;
}

/* twirlythingy */

span#baton {
    float: right;
    color: black;
    clear: none;
}

/* dev tutorial styles */
div#devTutorial {

}

div.devTutorial h1,
div.devTutorial h2 {
    clear: left;
}

div.devTutorial p img {
    float: left;
    padding: 0px 24px 36px 12px;
}

#jobStatus {
    font-weight: bold;
}

/* user settings page*/

button#userSubmit {
    width: 108px;
    height: 37px;
}

/* VMware image button for release pages */
img.vmwarebutton {
    float: right;
    margin: 0 0 0 20px;
}

div.palette div.boxBody {
    padding: 0px 8px 0px 8px;
}

/* job status colors */
div#statusMessage.error {
    background: #edc2c2;
    border: 2px solid #ed6464;
    padding: 4px;
}

div#statusMessage.running {
    background: #eeeeff;
    border: 2px solid #8888ff;
    padding: 4px;
}

div#statusMessage.finished {
    background: #cdedc2;
    border: 2px solid #7bbb66;
    padding: 4px;
}

/* general status -- refactor the job status to use these
   these happen to be multi-instance per page.*/
.statusError {
    background: #edc2c2;
    border: 2px solid #ed6464;
    padding: 4px;
}

.statusRunning {
    background: #eeeeff;
    border: 2px solid #8888ff;
    padding: 4px;
}

.statusFinished {
    background: #cdedc2;
    border: 2px solid #7bbb66;
    padding: 4px;
}

img#spinner {
    padding: 8px;
    float: right;
}

img#nameSpinner, img#archSpinner {
    display: none;
    padding-right: 4px;
}

#mintVersionString {
    margin-top: 2em;
    text-align: center;
    font-size: xx-small;
    color: #c0c0c0 !important;
}

.status {
    margin-bottom: 1.25em;
    padding: 1em 1em 1em 2.75em;
    text-align: left;
    font-weight: bold;
    font-size: smaller;
    border: 1px solid black;
}

#info {
    background: #ffc url(../images/icon_accept.gif) no-repeat 1em 1em;
}

#errors {
    background: #ffc url(../images/action_stop.gif) no-repeat 1em 1em;
}

/* group/permission manipulation */

table.user-admin {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
}

table.user-admin thead {
    background-color: #dddddd;
    font-weight: bold;
    font-size: 105%;
}
table.user-admin thead tr {
    border: 1px solid black;
}

table.user-admin thead tr td {
    padding: 6px;
    border: 1px solid gray;
}

table.user-admin tbody tr td {
    padding: 3px;
}

table.user-admin#permissions {
    font-size: 80%;
    width: 100%;
    border: none;
}

table.user-admin#permissions thead {
    background: #eeeeff;
}

.odd { background-color: white; }
.even { background-color: #eaecef; }

/* add/edit permissions and groups */

table.add-form {
    width: 40%;
    background-color: #eeeeff;
    border: 1px solid black;
}

table.add-form td {
    padding: 4px;
}

table.add-form td#header {
    font-size: 105%;
    font-weight: bold;
}

li.selectedItem {
    font-weight: bold;
}

.learnmore {
    font-size: smaller;
}

#helpclose {
    margin-top: 2em;
    text-align: right;
    font-size: smaller;
}

/* Trove picker classes */

div.trovePicker {
    border: 1px solid gray;
    padding: 2px;
    margin: 6px;
}

div.trovePicker span#prompt {
    font-size: larger;
    font-weight: bold;
}

div.trovePicker a {
    cursor: pointer;
}

div.trovePicker ul#selectionList, div.trovePicker ul#spinnerList {
    list-style-type: none;
    margin-left: 6px;
}
