
.mainSearchItem {
    font-size: 11px;
    color: #555;
    font-weight: bold;
}

.results td.mainSearchItemDesc {
    color: #777;
}

strong.keyword {
    color:#FF7C04;
}

table.pager {
    padding: 0px;
    margin: 0px 0px 10px 0px;
    width: 680px;
}

.results-summary {
    float: left;
}

.results-paging {
    float: right;
}

.page-previous {
    padding: 0px 8px;
}

.page-next {
    padding-left: 8px;
    padding-right: 0px;
}

.pager img {
    vertical-align: top;
    padding-top: 1px;
}

.pager a {
    padding-right: 0px;
}


/* SEARCH RESULTS TABLE LAYOUT */
.results {
    width: 100%;
	padding: 0px; 
    margin-bottom: 10px;
    border-collapse: collapse; 
}

.results th {
	font-weight: normal; 
    color: #000;
	padding: 6px 10px 6px 10px;
    background-color: #f0f0f0;
}

.results tr.item-row {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e4e4e4;
    overflow: visible;
    position: relative;
    zoom: 1;
}

.results tr.item-top-row {
	border-bottom: 0px solid #e4e4e4;
}

.results td.browse-package {
    padding: 3px 10px 3px 10px;
}

.results tr.item-row td {
	vertical-align:top; 
    padding: 6px 10px 10px 10px;
}

.results tr.item-top-row td {
	vertical-align:top; 
    padding: 6px 10px 0px 10px;
}

.results .tablesubhead {
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 10px;
}

.results a {
    text-decoration: none;
}

.results a:hover {
    text-decoration: underline;
}

/* SEARCH RESULTS TABLE LAYOUT */
.admin-results {
    width: 100%;
	padding: 0px; 
    margin-bottom: 10px;
    border-collapse: collapse; 
}

.admin-results th {
	font-weight: normal; 
    color: #000;
	padding: 6px 10px 6px 10px;
    background-color: #f0f0f0;
}

.admin-results tr.item-row {
	border-bottom: 1px solid #e4e4e4;
}

.admin-results tr.item-row td {
    padding: 2px 10px 2px 10px;
}

.admin-results a {
    text-decoration: none;
}

.admin-results a:hover {
    text-decoration: underline;
}

form {
    margin: 0px;
    padding: 0px;
}