/* GENERAL */
.pad {
	vertical-align:top;
}

sup.tm {
        font-size; -2;
}

/* TOP */
#top .shadowLeft {
	position:relative; min-width:746px; /* width:85%; */
	margin:0px; padding:0px;
	background:#5F6C97 url(../images/top_left_shadow.gif) top left no-repeat;
}
#top .shadowRight {
	margin:0px; padding:1px 1px 0px 1px;
	background:url(../images/top_right_shadow.gif) top right no-repeat;
}
#top .surfaceLeft {
	margin:0px 0px 0px 0px; padding:0px;
	background:#fff url(../images/top_left.gif) top left no-repeat;
}
#top .surfaceRight {
	margin:0px; padding:0px;
	background:url(../images/top_right.gif) top right no-repeat;
}
td#logo {
	width:76%; min-width:564px; height:78px;
	background:url(../images/logo.gif) no-repeat top left;
}
td#user {
	width:24%; min-width:180px; height:78px; font-size:0.6333em;
	background:url(../images/user_border.gif) no-repeat;
}
td#tabs {
	width:76%; min-width:564px; font-size:0.6967em; height:30px;
	background:#C5CBDE url(../images/tab_bg.gif) bottom left repeat-x;
	margin:0px; vertical-align:bottom;
}
td#tabs table {
	width:auto; margin:0px 0px 0px 6px; vertical-align:bottom;
}
td#tabs table td {
	vertical-align:bottom; margin:0px; padding:0px;
}
td#tabs table td a {
	display:block; margin:0px;
	padding:12px 12px 6px 12px;
	font-weight:bold;
	background:none;
}
td#tabs table td.selected {
	background:#C5CBDE url(../images/tab_left.gif) top left no-repeat;
}
td#tabs table td.selected a {
	color:#fff;
	background:url(../images/tab_right.gif) top right no-repeat;
}
td#blank {
	width:24%; min-width:180px; font-size:0.6967em; height:30px;
	background:#C5CBDE url(../images/tab_bg.gif) bottom left repeat-x;
	vertical-align:bottom;
}
td#topnav {
	width:76%; min-width:564px; font-size:0.6333em;
	background:#fff; color:#ddd; line-height:100%;
}
td#log {
	width:24%; min-width:180px; font-size:0.6333em;
	color:#ddd; line-height:100%;
	background:#fff url(../images/login_border.gif) no-repeat bottom left;
}

/* MIDDLE */
#middle { }
#tabs {
	width:76%; min-width:564px; font-size:0.6967em; height:30px;
	background:#C5CBDE url(../images/tab_bg.gif) bottom left repeat-x;
	vertical-align:bottom;
}
td#tabs table {
	width:auto; margin-left:6px;
}
td#tabs table td a {
	display:block;
	padding:12px 12px 6px 12px;
	font-weight:bold;
}

#options {
	position:relative; font-size:0.6967em; /* width:85%; */
	color:#fff; text-align:left;
}
#options table {
	width:auto; margin-left:7px;
}
#options table td a {
	display:block; color:#fff;
	padding:6px 12px 6px 12px;
}
#crumb {
	border:0px #6573A0 solid; border-bottom:0px #C5CBDE solid;
	background:#0C2577; position:relative; min-width:744px; /* width:85%; */
	color:#fa1; font-size:0.6333em; text-align:left;
}
#crumb .pad {
	padding:8px 12px 8px 18px; margin:0px;
}
#crumb a {
	color:#C5CBDE; font-weight:bold;
	padding:0px 0px 0px 10px;
	background:url(../images/A_crumb.gif) no-repeat 3px center;
}

/* BOTTOM */
#bottom div.surface {
	position:relative; min-width:744px; /* width:85%; */
	border-left:1px #6573A0 solid; border-right:1px #6573A0 solid;
	background:#fff;
}
#bottom table.surface {
	background:#fff;
}
#bottom .shadowLeft {
	position:relative; min-width:746px; /* width:85%; */
	margin:0px; padding:0px;
	background:#5F6C97 url(../images/bottom_left_shadow.gif) bottom left no-repeat;
}
#bottom .shadowRight {
	margin:0px; padding:1px 0px 1px 0px;
	background:url(../images/bottom_right_shadow.gif) bottom right no-repeat;
}
#bottom .surfaceLeft {
	margin:0px 1px 0px 1px; padding:0px;
	background:#fff url(../images/bottom_left.gif) bottom left no-repeat;
}
#bottom .surfaceRight {
	margin:0px; padding:12px 0px 12px 0px;
	background:url(../images/bottom_right.gif) bottom right no-repeat;
}


/* FOOTER */
#foot { }
#foot .shadowLeft {
	position:relative; min-width:746px; /* width:85%; */
	margin:0px; padding:0px;
	background:#5F6C97 url(../images/bottom_left_shadow.gif) bottom left no-repeat;
}
#foot .shadowRight {
	margin:0px; padding:0px 1px 1px 1px;
	background:url(../images/bottom_right_shadow.gif) bottom right no-repeat;
}
#foot .surfaceLeft {
	margin:0px 0px 0px 0px; padding:0px;
	background:#C5CBDE url(../images/bottom_left.gif) bottom left no-repeat;
}
#foot .surfaceRight {
	margin:0px; padding:0px; height:24px;
	background:url(../images/bottom_right.gif) bottom right no-repeat;
}
#copy {
	position:relative; min-width:744px; /* width:85%; */
	color:#D9DDE8; text-align:left; font-size:0.6333em;
}
#copy .pad {
	padding:8px 12px 8px 12px; margin:0px;
}

/* CONTENT AREA COLUMNS */
#main {
	width:50%; min-width:372px; font-size:0.6967em;
}
#main .pad {
	margin:0px; padding:6px 18px 12px 18px;
}
#main.spanleft {
	width:76%; min-width:564px;
}
#main.spanright {
	width:74%; min-width:552px;
}
#main.spanall {
	width:100%; min-width:744px;
}
#main h2, #main h3, #main h4 {
	color:#000;
}

#left {
	width:26%; min-width:192px;
}
#left .pad {
	margin:0px; padding:0px 0px 12px 12px;
}

#right {
	width:24%; min-width:180px;
}
#right .pad {
	margin:0px; padding:0px 12px 12px 0px;
}
#right.projects .pad {
	margin:0px; padding:4px 12px 12px 12px;
}

