/* TOP MENU AREA */
#topnav .pad {
	margin:0px; padding:8px 12px 8px 12px;
}
#topnav a {
	background:none; padding-right:0px;
	text-transform:lowercase;
}

#botnav {
    float: right;
}

#botnav a {
    color: #d9dde8;
    margin-right: 12px;
    text-transform: lowercase;
}
