/* LOGIN AREA AND USER INFO BLOCK */
#user .pad {
	vertical-align:middle; padding:12px;
}
#user h3, #user div {
	padding:0px 0px 6px 0px;
	text-transform:none;
}
#user h4 {
	padding:0px 0px 6px 0px;
}
#user input {
	width:50%;
}
#user label {
	font-weight:normal;
}
#user a.yellow {
	padding-left:16px;
	background:url(../images/A_yellow.gif) center left no-repeat;
}
