/* LOGIN AREA AND USER INFO BLOCK */
#user .pad {
	vertical-align:middle; padding:12px;
}
#user h3 {
	padding:0px 0px 6px 0px;
	text-transform:none;
}
#user h4 {
	padding:0px 0px 6px 0px;
}
#user input {
	width:50%;
}
#user label {
	font-weight:normal;
}
#user a {
	text-transform:lowercase;
}
