/* LOGIN AREA AND USER INFO BLOCK */
#user {
	width:180px; font-size:10px;
	background:url(../images/user_border.gif) no-repeat;
}
#user .pad {
	vertical-align:middle; padding:12px;
}
#user h3 {
	padding:0px 0px 6px 0px;
	text-transform:none;
}
#user h4 {
	padding:0px 0px 6px 0px;
}
#user input {
	width:90px;
}
#user label {
	font-weight:normal;
}
#user a {
	text-transform:lowercase;
}